.customer__like-amount {
  color: $customer__like-amount--txt;
  font-size: rem(10);
  line-height: rem(12);
  padding-left: 7px;
}
.customer__box:hover .customer__like-amount {
  color: $customer__like-amount--txt_hov;
}