.details {
  &__title {
    grid-column: 1/-1;
    margin-bottom: 18px;
  }

  &__swiper {
    height: 200px;
    @media (max-width: 425px) {
      display: block;
    }
  }

  &__pick {
    &_first {
      grid-row: 1/3;
      grid-column: 1/2;
    }
  }

  &__img {
    height: 100%;
    object-fit: cover;
  }

  &__grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(300px, 981px) minmax(300px, 1fr);
    margin-bottom: 68px;

    @media (max-width: 425px) {
      display: none;
    }
  }

  &__container {
    display: grid;
    grid-gap: 9px 70px;
    grid-template-columns: 291px 348px 1fr;
    margin: 0 140px 60px;

    @media (max-width: 1240px) {
      grid-column-gap: 0;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 5vw;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__line {
    height: 1px;
    background: $dark-25;
    border: none;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__cell {
    &_first {
      @media (max-width: 1439px) {
        grid-row: 1/1;
        grid-column: 1/-1;
      }

      @media (max-width: 767px) {
        grid-row: 2/3;
      }
    }

    &_second {
      @media (max-width: 1439px) {
        grid-row: 2/3;
        grid-column: 1/-1;
      }

      @media (max-width: 768px) {
        grid-row: 3/4;
      }
    }

    &_third {
      grid-row: 1/3;
      grid-column: 3/4;
      justify-self: end;
      margin-top: 2px;

      @media (max-width: 1439px) {
        grid-column: 2/-1;
      }

      @media (max-width: 767px) {
        grid-row: 1/2;
        grid-column: 1/-1;
        justify-self: start;
      }
    }

    &_fourth {
      grid-column: 1/3;

      @media (max-width: 1439px) {
        grid-column: 1/-1;
      }
    }

    &_fifth {
      @media (min-width: 768px) and (max-width: 1000px) {
        grid-column: 1/3;
      }

      @media (max-width: 767px) {
        grid-column: 1/-1;
      }
    }

    &_sixth {
      @media (min-width: 768px) and (max-width: 1000px) {
        grid-column: 3/-1;
      }

      @media (max-width: 767px) {
        grid-column: 1/-1;
      }
    }
  }
}
