.search {
    margin-top: 70px;
    height: 374px;
    max-width: 380px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
}

@media(max-width: 425px) {
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        background: unset;
        margin: unset;
        min-width: 100%;

    }
}

@import '_bg/search_bg';
@import '__checkbox/search__checkbox';
@import '__label/search__label';
@import '__close/search__close';
@import '__rectangle/search__rectangle';