.pagination {
  text-align: center;

  &__text {
    padding-left: 7px;
    font-size: rem(14);
  }

  &__list {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 14px;
  }

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    color: $dark-50;
    font-size: rem(12);
    line-height: 40px;
    text-align: center;

    &:focus-visible {
      outline: 1px solid $dark-50;
    }

    &_next {
      background: linear-gradient(180deg, $green 0%, $green-light 100%);
      border-radius: 50%;
    }

    &_next svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      fill: #fff;
    }

    &_active {
      color: #fff;
      font-weight: bold;
      background: linear-gradient(180deg, $purple 0%, $purpure-light 100%);
      border-radius: 50%;
    }
  }

  &__item {
    position: relative;
  }
}
