mixin schedule()
  .schedule
    h2.schedule__title Впечатления от номера
    .schedule__graph
      .schedule__content
        div.schedule__number 260
        div.schedule__text голосов
      ul.schedule__list
        each val in schedule
          li.schedule__item(class=val.color)
    .schedule__mark
      ul.schedule__mark-list
        each val in schedule
          li.schedule__mark-item
            .schedule__mark-circle(class=val.color)
            span.schedule__mark-text=val.rating






