%p {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: lighten;
}
$colors: #6fcf97 #66d2ea #bc9cff #8ba4f9 #ffe39c #ffba9c #919191 #3d4975;
$deg-start: 1deg -89deg 136deg 91deg;
$deg-end: 89deg -1deg 269deg -226deg;
$i: 1;
$m: 1;

.schedule {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 161px));

  @each $col in lime, purpure, yellow, dark {
    &__item.#{$col}::before {
      @extend %p;
      background-image: linear-gradient(
          nth($deg-start, $i),
          transparent 50%,
          #fff calc(50% + 0.5px),
          #fff
        ),
        linear-gradient(
          nth($deg-end, $i),
          #fff 50%,
          #000 calc(50% + 0.5px),
          #000
        );
    }

    $i: $i + 1;
    &__item.#{$col}::after {
      @extend %p;
      background-image: linear-gradient(nth($colors, $m), nth($colors, $m + 1));
    }
    $m: $m + 2;
  }

  &__title {
    grid-column: 1/-1;
    margin-bottom: 20px;
  }

  &__text {
    font-size: rem(12);
    line-height: rem(15, 12);
    text-transform: uppercase;
  }

  &__number {
    font-size: rem(24);
    font-family: $secondFont;
    line-height: rem(30, 24);
  }

  &__mark {
    display: inline-block;
    align-self: end;
    margin-top: 20px;
  }

  &__mark-text {
    padding-left: 5px;
    font-size: rem(14);
    line-height: rem(14, 24);
  }

  &__mark-item {
    display: flex;
    align-items: center;
    padding-bottom: 14px;

    &:last-child {
      padding: 0;
    }
  }

  &__mark-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    @each $col in lime, purpure, yellow, dark {
      &.#{$col} {
        background: linear-gradient(nth($colors, $i), nth($colors, $i + 1));
      }
      // TODO: wrining
      $i: $i + 2;
    }
  }

  &__item {
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(#fff 63%, #000 65%, #000 68%, #fff 70%);
    mix-blend-mode: darken;
  }

  &__graph {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $schedule__content--txt;
    font-weight: bold;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}
