.footer__col {
  display: contents;
}
@media(max-width: 768px) {
  .footer__col:last-child > .footer__list {
    grid-column: 1/5;
  }
  .footer__col:last-child > .footer__list > .footer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}