.product {
  &__list {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__cards {
    padding-left: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 9px 20px;

    @media (min-width: 1601px) {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
  }

  &__container {
    display: flex;
    margin: 0 140px;
    padding-top: 30px;

    @media (max-width: 1240px) {
      margin: 0 5vw;
    }
  }
}
// TODO: media
@media (max-width: 425px) {
  .product__container.container {
    margin-left: 0;
  }
}
