block variable
.uikit
  include ../../components/ui-kit/logo
  .uikit__container
    .uikit__card
      .color
        ul.color__menu
          -for( var i = 1; i <= colors[0].length; i++ )
            li.color__item
              .color__square(class="color-"+i)
              .color__title
                .color__name=colors[0][i-1]
                span.color__value=colors[1][i-1]
          - var i = undefined;
      .font
        ul.font__menu
          -for(var i = 0; i <= font[0].length; i++)
            li.font__item
              div.font__tag(class="font-"+font[0][i])=font[0][i]
              span.font__example(class="font-"+font[0][i] + " " + (i < 3 ? "font-bold": ""))=font[1][i]
          -var i = undefined;

