.uikit
  .uikit__logo
    include ../../components/ui-kit/logo
  .uikit-elements.uikit__container
    .uikit-elements__list

      .uikit-elements__item
        .uikit-title
          span.uikit-title__mark default
          label.uikit-title__label(for="ui-email") text filed
        +input-email("ui-email", "input__placeholder_color--25", "Email")
      .uikit-elements__item
        .uikit-title
          span.uikit-title__mark hover/focus
          label.uikit-title__label(for="ui-text") text filed
        +input-text("ui-text", "This is pretty awesome", "lname", "[а-яёА-ЯЁ]", "input__placeholder_color--75 input__border_color--50")
      .uikit-elements__item
        .uikit-title
          span.uikit-title__mark default
          label.uikit-title__label(for="ui-text") dropdown
        .rectangle__content
          +input-dropdown("ui-gues", "Сколько гостей", "")
          +input-options()

      .uikit-elements__item
        .uikit-title
          span.uikit-title__mark default
          label.uikit-title__label(for="ui-masded-text") masked text filed
        +input-date("ui-masded-text", "ДД.ММ.ГГГГ", "input__placeholder_color--25")

      .uikit-elements__item
        .rectangle__date
          .rectangle__date-col
            label.label.label_font--bold.label_color--100(for="ui-date-drop") date dropdown
            .rectangle__content.rectangle__content_margin--unset
              +input-date("ui-date-drop","ДД.ММ.ГГГГ", "")
              button.button.button_arrow.js--click(type="button")
          .rectangle__date-col
            label.label.label_font--bold.label_color--100(for="ui-date-drop") date dropdown
            .rectangle__content.rectangle__content_margin--unset
              +input-date("ui-date-drop","19.08.2019", "")
              button.button.button_arrow.js--click(type="button")

      .uikit-elements__item
        .uikit-title
          label.uikit-title__label(for="ui-date-filter") filter date dropdown
        .rectangle__content.rectangle__content_margin--unset
          +input-date("ui-date-filter","19 авг - 23 авг", "")
          button.button.button_arrow.js--click(type="button")

      .uikit-elements__item
        .uikit-title
          span.uikit-title__mark default
          label.uikit-title__label(for="ui-subscription") subscription text field
        +input-email("ui-subscription", "input__placeholder_color--25", "Email", "")

    .uikit-elements__list
      .uikit-elements__item
        .rectangle
          .uikit-title
            span.uikit-title__label.ractangle__label-mb--16(for="ui-masded-text") checkbox buttons
          each item, index in allowed
            +input-checkbox(index, item, "gues", 1)

      .uikit-elements__item
        .uikit-title
          span.uikit-title__label.ractangle__label-mb--16(for="ui-masded-text") radio buttons
        +input-radio("reg-man", "rectangle__input-radio", "input-radio__label label_font--regular registration__label_color--50", "Мужчина")
        +input-radio("reg-wom", "rectangle__input-radio", "input-radio__label label_font--regular registration__label_color--50", "Женщина")

      .uikit-elements__item
        .uikit-title
          span.uikit-title__label.ractangle__label-mb--16(for="ui-masded-text") toggle
        +input-toggle("", "Получать спецпредложения", true)
        +input-toggle("", "Получать спецпредложения")

      .uikit-elements__item
        .uikit-title
          span.uikit-title__label.ractangle__label-mb--16(for="ui-masded-text") like button
        .customer
          .customer__descr
            button.customer__box(type='button')
              .customer__like
                +heart("heart_bg", "heart_border", 2)
          .customer__descr
            button.customer__box-active(type='button')
              .customer__like
                +heart("heart_bg", "heart_border", 12)

      .uikit-elements__item
        .uikit-title
          span.uikit-title__label.ractangle__label-mb--16(for="ui-masded-text") rate button
        +rating(1, 2)
        +rating(2, 1)

    .uikit-elements__list
      .uikit-elements__item
        .uikit-title
          span.uikit-title__mark.rectangle__price
          label.uikit-title__label(for="pr-price") subscription text field
        .rectangle__content
          input.input-range(type='range' id='pr-price' multiple value='33,66.9' step="0.1")

      .uikit-elements__item
        .uikit-title
          span.uikit-title__label buttons
        .uikit-button
          +buttons(2, "Click me", "", "")
          +buttons(2, "Click me", "uikit-button__active", "")
        .uikit-button
          +buttons(1, "Click me", "", "")
          +buttons(1, "Click me", "uikit-button__active", "")

      .uikit-elements__item
        .uikit-button
          +buttons(6, "Click me", "", "")
          +buttons(6, "Click me", "uikit-button__active", "")

      .uikit-elements__item
        +buttons(2, 'Подобрать номер', 'button_width')
        +icon("arrow-big", 16, 16, "0 0 17 18", "arrow-big rectangle__arrow-big", "Подобрать номер")

      .uikit-elements__item
        .uikit-title
          span.uikit-title__label pagination
        +pagination()





  .uikit-elements.uikit__container
    .uikit-elements__list
      .uikit-elements__item
        .uikit-title
          span.uikit-title__mark default
          label.uikit-title__label(for="ui-dropdown") dropdown
        .rectangle__content
          +input-dropdown("ui-dropdown", "Сколько комнат", "2 спальни, 2 кровати...", "room")
          +input-options("", "room")

      .uikit-elements__item
        .uikit-title
          span.uikit-title__mark expanded
          label.uikit-title__label(for="ui-dropdown") dropdown
        .rectangle.rectangle_active--js.rectangle_example--js
          .rectangle__content
            +input-dropdown("ui-dropdown", "Сколько комнат", "", "room")
            +input-options("", "room")

    .uikit-elements__list
      .uikit-elements__item
        .uikit-title
          label.uikit-title__label(for="ui-dropdown") dropdown
        .rectangle.rectangle_active--js
          .rectangle__content
            +input-dropdown("ui-dropdown", "Сколько гостей", "", "gues")
            +input-options(1, "gues")

    .uikit-elements__list
      .uikit-elements__item
        .uikit-title
          label.uikit-title__label(for="ui-dropdown") dropdown
        .rectangle.rectangle_active--js.rectangle_example--js
          .rectangle__content
            +input-dropdown("ui-dropdown", "Сколько гостей", "", "gues")
            +input-options(1, "gues")

  .uikit-elements.uikit-dropdown.uikit__container
    .uikit-elements__list
      .uikit-elements__item
        .rectangle
          +input-lsit("expandable checkbox list", "label_font--bold label_color--100", 1, "example")

      .uikit-elements__item
        .rectangle.rectangle_active--js.rectangle_example--js
          +input-lsit("expandable checkbox list", "label_font--bold label_color--100", 1, "additional", "check")

    .uikit-elements__list
      .uikit-title
        span.uikit-title__label(for="") rich checkbox buttons
      .uikit-elements__item
        each item, index in input-checkbox
          +input-checkbox(index, item, "available", 0)

    .uikit-elements__list
      .uikit-elements__item
        .uikit-title
          span.uikit-title__label(for="") bullet list
        .uikit-elements__item
          +rule()

  .uikit-elements.uikit-dropdown.uikit__container
    .uikit-elements__list
      .uikit-elements__item
        +intelligence()

    .uikit-elements__list
      .uikit-elements__item
        +reviews()