.uikit.uikit_bg
  .uikit__logo
    include ../../components/ui-kit/logo
  .uikit-elements.uikit__container.uikit-light
    .uikit-elements__list
      .uikit-elements__item.uikit-text-filed
        .uikit-title
          span.uikit-title__mark default
          label.uikit-label.uikit-title__text(for="ui-email") text filed
        +input-email("ui-email", "input__placeholder_color--25", "Email")
      .uikit-elements__item.uikit-text-filed
        .uikit-title
          span.uikit-title__mark hover / focus
          label.uikit-label.uikit-title__text(for="ui-text") text filed
        +input-text("ui-text", "This is pretty awesome", "lname", "[а-яёА-ЯЁ]", "input__placeholder_color--75 input__border_color--50")
      .uikit-elements__item.uikit-dropdown
        .uikit-title
          label.uikit-label.uikit-title__text(for="ui-text") dropdown
        .rectangle__content
          +input-dropdown("ui-gues", "Сколько гостей", "", "gues")
          +input-options()
      .uikit-elements__item.uikit-masked-text
        .uikit-title
          label.uikit-label.uikit-title__text(for="ui-masded-text") masked text filed
        +input-date("ui-masded-text", "ДД.ММ.ГГГГ", "input__placeholder_color--25")
      .uikit-elements__item.uikit-date-dropdown
        .rectangle
          .rectangle__date
            .rectangle__date-col
              .uikit-title
                label.uikit-label.uikit-title__text(for="ui-date-start") date dropdown
              .rectangle__content
                +input-date("ui-date-start","ДД.ММ.ГГГГ", "")
                +buttons(5, "", "js--click")
            .rectangle__date-col
              .uikit-title
                label.uikit-label.uikit-title__text(for="ui-date-end") date dropdown
              .rectangle__content
                +input-date("ui-date-end","19.08.2019", "")
                +buttons(5, "", "js--click")
        +calendar()
      .uikit-elements__item.uikit-filter-date
        .uikit-title
          label.uikit-label.uikit-title__text(for="ui-date-filter") filter date dropdown
        .rectangle.uikit-elements__short
          .rectangle__date
            .rectangle__content
              +input-date("ui-date-filter","19 авг - 23 авг", "")
              +buttons(5, "", "js--click")
        +calendar()
      .uikit-elements__item.uikit-subscription-text
        .uikit-title
          label.uikit-label.uikit-title__text(for="ui-subscription") subscription text field
        .rectangle.uikit-elements__short
          .rectangle__content
            +input-email("ui-subscription", "input__placeholder_color--25", "Email", "")
    .uikit-elements__list
      .uikit-elements__item.uikit-checkbox-buttons
        .rectangle
          .uikit-title
            span.uikit-label.ractangle__label-mb--16(for="ui-masded-text") checkbox buttons
          .rectangle__checkbox
            each item, index in allowed
              if index == 0
                +input-checkbox(index, item, "gues", 1, false)
              else
                +input-checkbox(index, item, "gues", 1, true)
      .uikit-elements__item.uikit-radio-buttons
        .uikit-title
          span.uikit-label.ractangle__label-mb--16(for="ui-masded-text") radio buttons
        +input-radio("reg-man", "rectangle__input-radio", "input-radio__label label_font--regular registration__label_color--50", "Мужчина", true)
        +input-radio("reg-wom", "rectangle__input-radio", "input-radio__label label_font--regular registration__label_color--50", "Женщина", false)
      .uikit-elements__item.uikit-toggle
        .uikit-title
          span.uikit-label.ractangle__label-mb--16(for="ui-masded-text") toggle
        .uikit-toggle__item
          +input-toggle("", "Получать спецпредложения", true)
        .uikit-toggle__item
          +input-toggle("", "Получать спецпредложения")
      .uikit-elements__item.uikit-like-button
        .uikit-title
          span.uikit-label(for="ui-masded-text") like button
        .customer
          .customer__descr
            button.customer__box.customer__box_btn--js(type='button')
              .customer__like
                +heart("heart_bg", "heart_border", 2)
          .customer__descr
            button.customer__box.customer__box_active--js.customer__box_btn--js(type='button')
              .customer__like
                +heart("heart_bg", "heart_border", 12)
      .uikit-elements__item.uikit-rate-button
        .uikit-title
          span.uikit-label.ractangle__label-mb--16(for="ui-masded-text") rate button
        .uikit-rate-button__list
          .uikit-rate-button__item
            +rating(1, 2)
          .uikit-rate-button__item
            +rating(2, 1)
    .uikit-elements__list
      .uikit-elements__item.uikit-range-slider
        .uikit-title
          span.uikit-title__mark.rectangle__price
          label.uikit-label(for="pr-price") range slider
        .rectangle__content
          input.input-range(type='range' id='pr-price' multiple value='29.9,64.3' step="0.1")
      .uikit-elements__item.uikit-buttons
        .uikit-title
          span.uikit-label.ractangle__label-mb--16 buttons
        .uikit-buttons__item
          +buttons(2, "Click me", "", "")
          +buttons(2, "Click me", "uikit-buttons__active", "")
        .uikit-buttons__item
          +buttons(1, "Click me", "", "")
          +buttons(1, "Click me", "uikit-buttons__active", "")
        .uikit-buttons__item
          +buttons(6, "Click me", "", "")
          +buttons(6, "Click me", "uikit-buttons__active", "")
        .uikit-buttons__item
          +buttons(2, 'перейти к оплате', 'button_width')
          +icon("arrow-big", 18, 18, "0 0 17 18", "arrow-big rectangle__arrow-big", "перейти к оплате")
      .uikit-elements__item.uikit-pagination
        .uikit-title
          span.uikit-label.ractangle__label-mb--16 pagination
        +pagination()

  .uikit-elements.uikit__container.uikit-dropdowns
    .uikit-elements__list
      .uikit-elements__item.uikit-dropdown
        .rectangle.uikit-elements__short
          .uikit-title
            span.uikit-title__mark default
            label.uikit-label.uikit-title__text(for="ui-dropdown") dropdown
          .rectangle__content
            +input-dropdown("ui-dropdown", "Сколько комнат", "2 спальни, 2 кровати...", "room")
            +input-options("", "room")
      .uikit-elements__item.uikit-dropdown
        .rectangle.uikit-elements__short.rectangle_active--js.rectangle_example--js
          .uikit-title
            span.uikit-title__mark expanded
            label.uikit-label.uikit-title__text(for="ui-dropdown") dropdown
          .rectangle__content
            +input-dropdown("ui-dropdown", "Сколько комнат", "", "room")
            +input-options("", "room")
    .uikit-elements__list
      .uikit-elements__item.uikit-dropdown.uikit-gues
        .uikit-title
          label.uikit-label.uikit-title__text(for="ui-dropdown") dropdown
        .rectangle.rectangle_active--js
          .rectangle__content
            +input-dropdown("ui-dropdown", "Сколько гостей", "", "gues")
            +input-options(1, "gues")
    .uikit-elements__list
      .uikit-elements__item.uikit-dropdown
        .uikit-title
          label.uikit-label.uikit-title__text(for="ui-dropdown") dropdown
        .rectangle.rectangle_active--js.rectangle_example--js
          .rectangle__content
            +input-dropdown("ui-dropdown", "Сколько гостей", "", "gues")
            +input-options(1, "gues")

  .uikit-elements.uikit__container.uikit-checkboxs
    .uikit-elements__list
      .uikit-elements__item.uikit-expandable-checkbox
        .rectangle.uikit-elements__short
          +input-list("expandable checkbox list", "label_font--bold label_color--100", 1, "example")
      .uikit-elements__item.uikit-expandable-checkbox
        .rectangle.uikit-elements__short.rectangle_active--js.rectangle_example--js
          +input-list("expandable checkbox list", "label_font--bold label_color--100 uikit-label_mb--18", 1, "additional", "check")
    .uikit-elements__list
      .uikit-elements__item.uikit-rich-checkbox
        .uikit-title
          span.uikit-label.label_font--bold.ractangle__label-mb--16(for="") rich checkbox buttons
        each item, index in availabel
          +input-checkbox(index, item, "available", 0)
    .uikit-elements__list
      .uikit-elements__item.uikit-bullet-list
        .uikit-title
          span.uikit-label.label_font--bold.uikit-label_mb--14(for="") bullet list
        +rule()

  .uikit-elements.uikit__container.uikit-additionally
    .uikit-elements__list
      .uikit-elements__item.uikit-intelligence
        +intelligence()
    .uikit-elements__list
      .uikit-review
        +reviews()