.uikit
  .uikit__logo
    include ../../../assets/scss/templates/uikit-logo/uikit-logo
  .uikit-form
    .uikit-form__item.uikit-form__search

      include ../../../assets/scss/modules/search/search
    .uikit-form__item.uikit-form__descr
      include ../../../assets/scss/modules/description/description
    .uikit-form__item.uikit-form__calendar.uikit-form__calendar_create--js
      +calendar()
    .uikit-form__item.uikit-form__reg
      include ../../../assets/scss/modules/registration/registration
    .uikit-form__item.uikit-form__aut
      include ../../../assets/scss/modules/authorization/authorization

    .uikit-form__item
      ul.uikit-form__cards
        each card, index in elem
          +card(card["number"], card["status"], card["price"], card["checked"], card["reviews"], index)


