.uikit
  .uikit__logo
    include ../../components/ui-kit/logo
  .uikit-form
    .uikit-form__item.uikit-form__search
      include ../search
    .uikit-form__item.uikit-form__descr
      include ../description
    .uikit-form__item.uikit-form__calendar
      +calendar()
    .uikit-form__item.uikit-form__reg
      include ../modules/reg
    .uikit-form__item.uikit-form__aut
      include ../modules/aut

    .uikit-form__item
      ul.uikit-form__cards
        each card, index in elem
          +card(card["number"], card["status"], card["price"], card["checked"], card["reviews"], index)


