include ../../components/card
block cards
.ulkit
  //- include ../../components/ul-kit/logo
  //- .ulkit__form
  //-   .ulkit__item
  //-     include ../search
  //-   .ulkit__item
  //-     include ../description
  //-   .ulkit__item
  //-     include ../../components/calendar
  //-   .ulkit__item
  //-     include ../registration
  //-   .ulkit__item
  //-     include ../../components/rectangles/authorization
  //-   .ulkit__item
  //-     ul.ulkit__cards
  //-       each card, index in cards
  //-         +card(card["number"], card["status"], card["price"], card["checked"], card["reviews"], index)


