.uikit
  .uikit__logo
    include ../../components/ui-kit/logo
  .uikit-header-footer
    .uikit-header
      include ../../../assets/scss/modules/header/header
    .uikit-header.uikit-header_mt
      include ../../../assets/scss/modules/header/header
    .uikit-footer
      include ../../../assets/scss/modules/footer/footer
    .uikit-footer-mobile.footer

      .logo.footer__logo
        a.logo__link(href="#")
          +icon('pick', 106, 40, "0 0 106 40", "logo", "TOXIN, бронирование номеров")
      p.footer__cop Copyright ©
        time(datetime='2018') 2018 &nbsp
        | Toxin отель. Все права защищены.
      .footer__social
        a.footer__social-link(href="#")
          +icon('twit', 24, 21, "0 0 24 21", "footer__social-icn", "Мы в twitter")
        a.footer__social-link(href="#")
          +icon('face', 22, 22, "0 0 22 22", "footer__social-icn", "Мы в facebook")
        a.footer__social-link(href="#")
         +icon('insta', 22, 22, "0 0 22 22", "footer__social-icn", "Мы в instagram")