.rating {
  select {
    display: none;
  }

  &__stars .rateit-range {
    display: inline-block;
    width: 20px;
    height: 19px;
    background: 0 21px/24px 41px url('../../assets/img/svg/star.svg');
    cursor: pointer;
  }

  &__stars .rateit-hover {
    background: 0 1px/24px 41px url('../../assets/img/svg/star.svg');
  }

  &__stars .rateit-selected {
    background: 0 1px/24px 41px url('../../assets/img/svg/star.svg');
  }
}
