%p {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  mix-blend-mode: lighten;
  border-radius: 50%;
}

.schedule__item {
  width: 100%;
  height: 100%;
  position: relative;
  background: radial-gradient(#fff 63%, #000 65%, #000 68%, #fff 70%);
  position: absolute;
  mix-blend-mode: darken;
}

$colors: #6FCF97 #66D2EA #BC9CFF #8BA4F9 #FFE39C #FFBA9C #919191 #3D4975;
$deg-start: 1deg -89deg 136deg 91deg;
$deg-end: 89deg -1deg 269deg -226deg;

$i: 1;
$m: 1;
.schedule__item {
  @each $col in lime, purpure, yellow, dark {
    &.#{$col}::before {
      @extend %p;
      background-image: linear-gradient(nth($deg-start, $i), transparent 50%, #fff calc(50%+0.5px), #fff), linear-gradient(nth($deg-end, $i), #fff 50%, #000 calc(50%+0.5px), #000);
    }
    $i: $i + 1;
    &.#{$col}::after {
      @extend %p;
      background-image: linear-gradient(nth($colors, $m), nth($colors, $m+1));
    }
    $m: $m + 2;
  }
}