
@import "utils/libs";
@import "utils/vars";
@import "utils/fonts";
@import "utils/mixins";




@media screen and (max-width: $desktopWidth) {
	.container {
		margin: 0 70px;
	}
	// font-size: 16px;
}
@media screen and (max-width: $tableWidth) {
	// font-size: 15px;
}
@media screen and (max-width: $phoneWidth) {
	// font-size: 14px;
}
@for $i from 1 through 6 {
	h#{$i} {
		margin: 0;
	}
}

body {
	font-family: $mainFont;
	font-size: $mainFontSize;
	margin: 0;
  box-sizing: border-box;
  color: $body-text;
}
a {
	text-decoration: none;
}
section {
	position: relative;
	padding: 0 0; // 1
}

@for $i from 1 through 6 {
	h#{$i} {
		color: $mainTitleBlock;
	}
}
h1, h2 {
	font-family: $headerFont;
}
h1 {
	font-size: 	em(24);
	line-height: em(30,24);
}
h2 {
	font-size: 	em(19);
	line-height: em(24);
}
h3 {
	font-family: $subHeaderFont;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	width: 100%;
	max-width: 100%;
	display: flex;
}
button {
	background: none;
	border: none;
	display: flex;
	padding: 0;
}
p {
	margin: 0;
}
hr {
	margin: 0;
}
.container {
	margin: 0 140px;
}
.offensive {
	font-family: $subHeaderFont;
	font-size: em(12);
	line-height: em(12,15);
	color: $offensive;
	text-transform: uppercase;
}
.hidden {
  display: none;
}

@import "modules/arrow-big/arrow-big";
@import "modules/header/header";
@import "modules/nav/nav";
@import "modules/button/button";
@import "modules/logo/logo";
@import "modules/arrow/arrow";
@import "modules/rectangle/rectangle";
@import "modules/input/input";
@import "modules/banner/banner";
@import "modules/calendar/calendar";
@import "modules/footer/footer";
@import "modules/input-options/input-options";