mixin footer-mobile()
  .footer-mobile
    .footer-mobile__logo
      +logo()
    p.footer-mobile__cop Copyright © 
      time(datetime='2018') 2018 &nbsp
      | Toxin отель. Все права защищены.
    .footer-mobile__social
      each value in icons
        +social-icon({
          id: value.id,
          width: value.width,
          height: value.height,
          viewBox: value.viewBox,
          alt: value.alt,
          mod: {indention: "indent"},
        })
      