.description {
  width: 380px;
  max-width: 380px;

  @media (max-width: 375px) {
    width: 100%;
    box-shadow: unset;
  }

  & .input-date {
    flex-basis: 47%;
  }

  & .room__number {
    font-size: 24px;
  }

  & .room__text {
    line-height: 20px;
  }

  & .rectangle {
    @media (max-width: 375px) {
      padding: 40px 0 30px;
    }
  }

  &__total {
    color: #1f2041;
    font-weight: bold;
    font-size: rem(19);
    font-family: quicksand, $secondFont, Arial, sans-serif;
    line-height: 20px;
  }

  &__text {
    position: relative;
    display: inline-block;
    font-size: rem(14);
    line-height: 19px;

    &:first-child {
      flex-basis: 70%;
    }
  }

  &__result {
    display: flex;
  }

  &__line {
    display: inline-block;
    flex-grow: 1;
    height: 18px;
    margin: 0 5px;
    border-bottom: 1px dotted $description__line--bd;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;

    &:last-child {
      padding: unset;
    }
  }

  &__accent:after {
    top: -3px;
    right: -17px;
  }
}
