.rectangle__item {
  margin-bottom: 20px;
  position: relative;
}
.rectangle__item:last-child {
  margin-bottom: unset;
}
@import '-mb--30/rectangle__item-mb--30';
@import '-mb--20/rectangle__item-mb--20';