.description {
  box-shadow: 0 0 25px rgba(0,0,0,.12);
  max-width: 380px;
  width: 380px;
}
@media(max-width: 375px) {
  .description {
    box-shadow: unset;
    width: 100%;
  }
  .desription__rectangle {
    padding: 40px 0 30px;
  }
}

@import '__list/description__list';
@import '__item/description__item';
@import '__text/description__text';
@import '__accent/description__accent';
@import '__result/description__result';
@import '__total/description__total';
@import '__line/description__line';
