@supports (--css: variables) {
  :root {
    --thumb-color-start: #6fcf97;
    --thumb-color-stop: #66d2ea;
  }
  .input-range {
    &__top {
      margin-bottom: 24px;
    }

    &__text {
      margin-top: 4px;
      color: $dark-50;
      font-size: rem(12);
      line-height: 14px;
    }

    &__price {
      position: absolute;
      top: 0;
      right: 0;
      color: $dark-50;
      font-size: rem(12);
      line-height: rem(15, 12);
    }

    &__band {
      position: absolute;
      right: calc(100% - var(--stop));
      left: var(--start);
      z-index: 1;
      height: 6px;
      background: linear-gradient(
          to bottom,
          var(--thumb-color-start),
          var(--thumb-color-stop)
        )
        no-repeat;
    }

    &__field {
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 3px;

      &_multirange {
        display: block;
        display: inline-block;
        width: 100%;
        height: 6px;
        margin: 0;
        padding: 0;
        vertical-align: top;
        -webkit-appearance: none;
        -moz-appearance: none;

        &::-webkit-slider-thumb {
          --track-background: linear-gradient(
            to bottom,
            var(--thumb-color-start) 0%,
            var(--thumb-color-stop) 80%
          );
          position: relative;
          z-index: 2;
          width: 12px;
          height: 12px;
          background: var(--track-background);
          border-radius: 50%;
          box-shadow: 0 0 0 2px #fff;
          -webkit-appearance: none;
        }

        &:focus::-webkit-slider-thumb {
          border: 1px solid rgba(31, 32, 65, 0.25);
        }

        &::-moz-range-thumb {
          --track-background: linear-gradient(
            to bottom,
            var(--thumb-color-start) 0%,
            var(--thumb-color-stop) 80%
          );
          z-index: 2;
          width: 12px;
          height: 12px;
          background: var(--track-background);
          border: none;
          border-radius: 50%;
          box-shadow: 0 0 0 2px #fff;
          transform: scale(1); /* FF doesn't apply position it seems */
        }

        &::-moz-range-track {
          border-color: transparent; /* needed to switch FF to "styleable" control */
        }

        &:focus::-moz-range-track {
          border: 1px solid rgba(31, 32, 65, 0.25);
        }
      }

      &_original {
        position: absolute;

        &:hover,
        &:focus {
          border: none;
        }
      }

      &_ghostly {
        position: relative;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 3px;

        &::-webkit-slider-thumb {
          position: absolute;
          top: -3px;
        }

        &::-webkit-slider-runnable-track {
          position: relative;
          height: 6px;
        }

        &::-moz-range-track {
          background: var(--track-background);
        }
      }
    }
  }
}
