.button {
  $button: &;

  position: relative;
  display: inline-block;
  font: bold rem(12) 'Montserrat';
  text-transform: uppercase;
  background-origin: border-box;
  cursor: pointer;

  &:hover ~ .input > .input__field {
    border: 1px solid $dark-50;
  }

  &:focus-visible {
    outline: 1px solid $dark-50;
  }

  &_high {
    #{$button}__text_flooded {
      height: 34px;
    }

    #{$button}__text_boundary {
      display: flex;
      align-items: center;
      height: 30px;
    }
  }

  &__text {
    &_boundary {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      margin: 2px;
      padding: 0 17px;
      color: $purple;
      background: #fff;
      border-radius: 18px;

      &:hover ~ #{$button}__light {
        background: linear-gradient(
          180deg,
          rgba(#bc9cff, 0.5) 0%,
          rgba(#8ba4f9, 0.5) 100%
        );
      }
    }

    &_flooded {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      padding: 0 20px;
      color: $white;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__light {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 20px;
  }

  &_focused {
    outline: none;
  }

  &_broad {
    width: 100%;
  }

  &_margin-left {
    margin-left: auto;
  }

  &_hidden {
    opacity: 0;
  }

  &_purple {
    color: $purple;
  }

  &_locale {
    margin-right: auto;
  }

  &_prev_arrow {
    position: absolute;
    top: 0;
    z-index: 1;
    transform: rotate(180deg);
    cursor: pointer;
    fill: $purple;
  }

  &_next_arrow {
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 1;
    cursor: pointer;
    fill: $purple;
  }

  &_arrow {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    transform: translate(0, -50%);

    &::after {
      color: $dark-50;
      font-size: 14px;
      font-family: $iconFont;
      font-family: 'fontello';
      content: '\f004';
    }
  }

  &__mark {
    position: relative;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: $dark-50;
    font-size: em(18);
    font-family: $mainFont;
    line-height: em(22, 18);
    border: 1px solid $dark-25;
    border-radius: 50%;
    cursor: pointer;

    &_plus:after,
    &_minus:after {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translate(0, -50%);
    }

    &_plus:after {
      content: '+';
    }

    &_minus:after {
      content: '-';
    }

    &_default {
      opacity: 0.38;
    }
  }
}
