//- mixin input-mark(index, item, name, number, role)
mixin input-mark(mark)
  -var status = role
  .input-mark
    +input-checkbox({
      id: mark.id,
      mod: {visible: "hidden"},
    })
    +label({
      for: mark.id,
      text: mark.text,
      mod: {checked: "checked"},
    })
    if mark.description
      .input-mark__description=mark.description
