mixin input-mark(mark)

  - var fontWeigth = '';
  - if ( mark.description ) {
  -   fontWeigth = 'thick';
  - }

  .input-mark
    +input-checkbox({
      id: mark.id,
      mod: {visible: "hidden"},
    })
    +label({
      for: mark.id,
      text: mark.text,
      mod: {checked: "checked", weigth: fontWeigth},
    })
    if mark.description
      .input-mark__description=mark.description
