.input-mark {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: unset;
  }

  & .input-checkbox:checked ~ &__label::before {
    border-color: $input-mark__label--bd-active;
  }

  & .input-checkbox:checked ~ &__label::after {
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(
      180deg,
      $input-mark__label--bd 0%,
      $input-mark__label--bg-stop 100%
    );
    border-image-slice: 1;
  }

  &__label {
    position: relative;
    display: flex;
    padding-left: 30px;
    color: $input-mark__label--txt;
    font-weight: normal;
    font-size: rem(14);
    font-family: $mainFont;
    line-height: rem(20);
    cursor: pointer;
    user-select: none;

    &_thick {
      color: $input-mark__label_thick--txt;
      font-weight: bold;
      font-size: rem(14);
      cursor: pointer;
      user-select: none;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      box-sizing: border-box;
      width: 20px;
      min-width: 20px;
      height: 20px;
      border: 1px solid $input-mark__label--bd;
      border-radius: 4px;
      transition: all 0.15s;
    }

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 7px;
      box-sizing: border-box;
      width: 6px;
      height: 8px;
      transform: rotate(45deg);
    }
  }

  &__pd {
    padding-left: 30px;
  }
}
