.input-mark {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: unset;
  }

  &__description {
    padding-top: 4px;
    padding-left: 30px;
    color: $input-mark__description--txt;
    font-size: rem(12);
    line-height: 14px;
  }
}
