.input-dropdown__list {
  border:  1px solid $input-dropdown__list--br;
  padding: 11px 20px 10px 15px;
  border-radius: 4px;
  display: block;
  background: transparent;
  &::placeholder {
    color: red;
  }
}


.input-dropdown__list::-webkit-datetime-edit {
  color: $input-dropdown__list--txt;
}
.input-dropdown__list::-webkit-datetime-edit-fields-wrapper {
  // wrapper
}
.input-dropdown__list::-webkit-datetime-edit-text {
  // points
}
.input-dropdown__list::-webkit-inner-spin-button {
  display: none;
}
.input-dropdown__list::-webkit-calendar-picker-indicator {
  display: none;
}