.customer__box-active {
  width: 40px;
  border-radius: 10px;
  overflow: hidden;
  padding: 1px;
  display: inline-block;
  background: linear-gradient(-180deg, $customer__box--bg_hov, $customer__box--bg-stop_hov);
}

.customer__box-active .heart_bg {
  display: none;
}
.customer__box-active .heart_border {
  background: $customer__box--bg_hov;
  &:after, &:before {
    background: $customer__box--bg_hov;
  }
}