.rule {
  &__title {
    margin-bottom: 14px;
    margin-left: 20px;
  }

  &__list {
    padding-right: 32px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: baseline;
    margin-bottom: 11px;
    font-size: rem(14);
    line-height: rem(23, 16);

    &:before {
      display: inline-block;
      width: 10px;
      min-width: 10px;
      height: 10px;
      margin-right: 10px;
      background: $gray-25;
      border-radius: 100%;
      content: '';
    }
  }
}
