mixin uikit-dropdowns()
  .uikit-dropdowns
    .uikit-dropdowns__list
      .uikit-dropdowns__dropdown
        +input-dropdown({
          id: "ui-dropdown-one",
          text: "dropdown",
          descr: "dropdown",
          placeholder: "Сколько комнат",
          value: "2 спальни, 2 кровати...",
          role: "room",
          list: roomList,
        })
      .uikit-dropdowns__dropdown.uikit-dropdowns__dropdown_example-js.uikit-dropdowns__dropdown_active-js
        +input-dropdown({
          id: "ui-dropdown-two",
          text: "dropdown",
          descr: "expanded",
          placeholder: "Сколько комнат",
          role: "room",
          list: roomList,
          mod: {clicked: "active"}
        })

    .uikit-dropdowns__list
      .uikit-dropdowns__dropdown.uikit-dropdowns__dropdown_example-js
        +input-dropdown({
          id: "ui-dropdown-three",
          text: "dropdown",
          placeholder: "Сколько гостей",
          role: "gues",
          list: guesList,
          btnPannel: true,
          mod: {clicked: "active"}
        })

    .uikit-dropdowns__list
      .uikit-dropdowns__dropdown.uikit-dropdowns__dropdown_example-js.uikit-dropdowns__dropdown_active-js
        +input-dropdown({
          id: "ui-dropdown-four",
          text: "dropdown",
          placeholder: "Сколько гостей",
          role: "gues",
          list: guesList,
          btnPannel: true,
          mod: {clicked: "active"}
        })