.footer__row {
  display: grid;
  grid-template-columns: max-content max-content max-content auto;
}
@media(max-width: 768px) {
  .footer__row {
    margin: unset;
    width: 100%;
    grid-gap: 12px 0;
  }
}