.calendar {
  position: relative;
  box-sizing: border-box;
  background: #fff;
}

@import '__container/calendar__container';
@import '__arrow-next/calendar__arrow-next';
@import '__arrow-prev/calendar__arrow-prev';
@import '__day/calendar__day';
@import '__day-num/calendar__day-num';
@import '__month/calendar__month';
@import '__nav/calendar__nav';
@import '__response/calendar__response';
@import '__table/calendar__table';
@import '__day-other/calendar__day-other';
@import '__day-today/calendar__day-today';
@import '__day_active/calendar__day_active';
@import '__day-mark/calendar__day-mark';
@import '__box/calendar__box';