.input-date {
  position: relative;
  cursor: default;

  &_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    visibility: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &__field {
    position: relative;

    .button:hover ~ .input > .inpput__field {
      border: 1px solid $gray-50;
    }

    &_active ~ .calendar {
      display: block;
    }
  }

  &_wide {
    flex-basis: 100%;
  }
}
