mixin input-date(date)
  - const {id, text, value, placeholder, format, readonly, mod} = date;
  - let modClasses = '';
  - let inpClicked = readonly ? "clicked-js" : '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-date_' + styles[index];
  -   }
  - }

  .input-date.input-date_js(class=modClasses)
    +label({
      forId: id,
      text: text,
      mod: {font: "large"},
    })
    .input-date__field.input-date__field_js(tabindex="0")
      +input({
        id: id,
        type: "text",
        value: value,
        placeholder: placeholder,
        format: format,
        readonly: readonly,
        mod: {placeholderClolor: "placeholder", clicked: inpClicked},
        
      })
      +button({
        tabindex: "-1",
        mod: {arrow: "arrow", clicked: "clicked-js", focused: "focused"}
      })