.input-date {
  position: relative;
  cursor: default;

  &__field {
    position: relative;

    &_active ~ .calendar {
      display: block;
    }
  }

  &_wide {
    flex-basis: 100%;
  }
}
