.input-date {
  position: relative;
  cursor: default;

  &__field {
    position: relative;

    .button:hover ~ .input > .inpput__field {
      border: 1px solid $gray-50;
    }

    &_active ~ .calendar {
      display: block;
    }
  }

  &_wide {
    flex-basis: 100%;
  }
}
