mixin input-dropdown(dropdown)
  - const {id, value, placeholder, role, list, btnPannel, text, descr, mod} = dropdown;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-dropdown_' + styles[index];
  -   }
  - }

  .input-dropdown.input-dropdown_js(class=modClasses)
    .input-dropdown__top
      +label({
        forId: id,
        text: text,
        mod: { font: "large" },
      })
      if descr
        span.input-dropdown__descr=descr

    .input-dropdown__field
      +input({
        type: "text",
        id: id,
        value: value,
        placeholder: placeholder,
        role: role,
        readonly: true,
        mod: {clicked: "clicked-js", placeholderClolor: "placeholder-dark"},
      })
      +button({
        mod: {arrow: "arrow", clicked: "clicked-js"}
      })
      +input-options({
        role: role,
        list: list,
        btnPannel: btnPannel,
      })