.input-dropdown {
  position: relative;

  &__field {
    position: relative;

    &_active {
      & .input-options {
        border: 1px solid $dark-50;
        border-top: 0;
      }

      & .input__field {
        border: 1px solid $dark-50;
        border-bottom-right-radius: initial;
        border-bottom-left-radius: initial;
      }
    }
  }

  & .input__field {
    cursor: pointer;
  }

  &__descr {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(#1f2041, 0.5);
    font-size: rem(12);
    line-height: 15px;
    text-transform: uppercase;
  }
}
