mixin input-dropdown(dropdown)
  - const {id, value, placeholder, amount, role, list, btnPannel, text, descr, mod} = dropdown;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-dropdown__field_' + styles[index];
  -   }
  - }

  .input-dropdown.input-dropdown_js
    .input-dropdown__top
      +label({
        forId: id,
        text: text,
        mod: { font: "large" },
      })
      if descr
        span.input-dropdown__descr=descr

    .input-dropdown__field(class=modClasses tabindex="0" role="button" aria-haspopup="true" aria-expanded="false")
      +input({
        type: "text",
        id: id,
        value: value,
        placeholder: placeholder,
        readonly: true,
        amount,
        role: role,
        tabindex: -1,
        mod: {clicked: "clicked-js", placeholderClolor: "placeholder-dark"},
        aria: {ariaHidden: true},
      })
      +button({
        ariaHospopup: true,
        ariaLabel: "Расскрыть список",
        tabindex: -1,
        mod: {arrow: "arrow", clicked: "clicked-js", focused: "focused"},
      })
      +input-options({
        role: role,
        list: list,
        btnPannel: btnPannel,
      })