.filter
  input.visuallyhidden(type="checkbox" id="filter")
  label.filter__check(for="filter")
    span.filter__btn Фильтр
  .rectangle.rectangle__filter
    label.filter__close(for="filter")
      +icon("rec-close", 16, 16, "0 0 47.971 47.971", "", "Закрыть")
    .filter__container
      form(action="" name="")
        ul.rectangle__list(role='none')
          li.rectangle__item
            label.label.label_font--bold.label_color--100(for='pr-date') Даты пребывания в отеле
            .rectangle__content
              input.input.input-date(type='text' id='pr-date' required inputmode='numeric' autocomplete='cc-exp' maxlength='10' placeholder="ДД.ММ.ГГГГ")
              button.button.button_arrow.js--click(type="button")
          include ../components/calendar

          li.rectangle__item.rectangle__item-mb--30
            label.label.label_font--bold.label_color--100(for='pr-gues') Гости
            .rectangle__content
              input.input_position.input.js--click(type='text' id='pr-gues' required readonly placeholder='Сколько гостей' autocomplete='off')
              button.button.button_arrow.button_z--3.js--click(type="button")
              //- +input-options(1, "room")

          li.rectangle__item.rectangle__item-mb--30
            label.label.ractangle__label-mb--16.label_font--bold.label_color--100(for='pr-price') Диапазон цены
            span.rectangle__price
            .rectangle__content
              input.input-range(type='range' id='pr-price' multiple value='10,80')
              span.rectangle__text-small Стоимость за сутки пребывания в номере

          li.rectangle__item.rectangle__item-mb--30
            .rectangle__content
              span.label.ractangle__label-mb--16.label_font--bold.label_color--100 Checkbox buttons
              each item, index in allowed
                +input-checkbox(index, item, "gues", 1)

          li.rectangle__item.rectangle__item-mb--30
            label.label.ractangle__label-mb--16.label_font--bold.label_color--100(for='') Доступность
            .rectangle__content
              each item, index in availabel
                +input-checkbox(index, item, "available", 0)

          li.rectangle__item.rectangle__item-mb--30
            label.label.label_font--bold.label_color--100(for='') Удобство номера
            .rectangle__content
              input.input.input_position.js--click.input__placeholder_color--75(readonly name='gues' type='text' placeholder='Сколько гостей' required autocomplete="off")
              button.button.button_arrow.button_z--3.js--click(type="button")
              //- +input-options("", "gues")

          li.rectangle__item.rectangle__item-mb--30
            .rectangle__content
              +input-lsit("Дополнительные удобства", "label_font--bold label_color--100", 1, "additional")