.home
  h2 Ul-Kit
  ul.home__list
    li.home__page
      a.home__details(href="ui-kit/cards.html" target="_blank" rel="nofollow noopener") cards
    li.home__page
      a.home__main(href="ui-kit/form.html" target="_blank" rel="nofollow noopener") form
    li.home__page
      a.home__main(href="ui-kit/elements.html" target="_blank" rel="nofollow noopener") elements

  h2 Pages
  ul.home__list
    li.home__page
      a.home__product(href="website/registration.html" target="_blank" rel="nofollow noopener") registration
    li.home__page
      a.home__product(href="website/authorization.html" target="_blank" rel="nofollow noopener") authorization
    li.home__page
      a.home__details(href="website/details.html" target="_blank" rel="nofollow noopener") details
    li.home__page
      a.home__main(href="website/main.html" target="_blank" rel="nofollow noopener") main
    li.home__page
      a.home__product(href="website/product.html" target="_blank" rel="nofollow noopener") product