//- include ../components/input-text
//- include ../components/input-radio
//- include ../components/input-date
//- include ../components/input-email
//- include ../components/input-password
//- include ../components/input-toggle
block variable
.banner
  .swiper-container.banner__swiper-container
    .swiper-wrapper
      -for(var i=1; i<4; ++i)
        .swiper-slide
          picture
            source(type="image/webp" srcset="assets/img/banner"+i+".webp")
            source(type="image/jpeg" srcset="assets/img/banner"+i+".jpg")
            img.banner__img(src="assets/img/banner"+i+".jpg", alt="Лучшие номера")
      - var i = null;
  .container.banner__container
    .banner__dialog
      .rectangle.registration
        form(action="" name="reg")
          fieldset.rectangle__container
            legend.rectangle__title Регистрация акаунта
            ul.rectangle__list(role='none')
              li.rectangle__item
                .rectangle__content
                  +input-text("reg-name", "Имя", "name", "[а-яёА-ЯЁ]", "input__placeholder_color--25")
                  label.visuallyhidden(for="reg-name") #{Имя}
                .rectangle__content
                  +input-text("reg-lname", "Фамилия", "lname", "[а-яёА-ЯЁ]", "input__placeholder_color--25")
                  label.visuallyhidden(for="reg-lname") #{Фамилия}
                .rectangle__content
                  +input-radio("reg-man", "rectangle__input-radio", "input-radio__label label_font--regular registration__label_color--50", "Мужчина")
                  +input-radio("reg-wom", "rectangle__input-radio", "input-radio__label label_font--regular registration__label_color--50", "Женщина")
              li.rectangle__item
                label.label.label_font--bold.label_color--100(for='reg-birth') Дата рождения
                +input-date("reg-birth", "ДД.ММ.ГГГГ", "input__placeholder_color--25.input-mark__list")
              li.rectangle__item
                .label.label_font--bold.label_color--100 Данные для входа в сервис
                .rectangle__content
                  label.visuallyhidden(for='reg-email')
                  +input-email("reg-email", "input__placeholder_color--25", "Email")
                .rectangle__content
                  label.visuallyhidden(for='reg-password')
                  +input-password("reg-password", "input__placeholder_color--25", "Пароль")
                .rectangle__content
                  +input-toggle("", "Получать спецпредложения")
              li.rectangle__item
                .rectangle__submit
                  +buttons(2, 'Войти', 'button_width')
                  +icon("arrow-big", 16, 16, "0 0 17 18", "arrow-big rectangle__arrow-big", "Войти")
                .rectangle__create
                  p.rectangle__create-text Уже есть акаунт на Toxin?
                  +buttons( 1, 'Создать', 'authorization__button_size')