extends ../../layout/main

block variables
  - var templates = ["header", "details", "footer", "sprite"];
  - var title = 'details';
  - var navList = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"];
  - var dropList = ["Взрослые", "Дети", "Младенцы"];
  - var footerList = ["Навигация", "О нас", "Служба поддержки", "Подписка"];
  - var footerItem = [["О нас", "Новости", "Служба поддрежки", "Услуги"], ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"], ["Соглашения", "Сообщества", "Связь с нами"], "Получите специальное предложение и новости сервиса"];

block schedule
  - var color = ["lime", "purpure", "yellow", "dark"];
  - var rating = ["Великолепно", "Хорошо", "Удовлетворительно", "Разочарован"];

block reviews
  - var name = ["Мурад Сарафанов", "Патрия Стёклышкова"];
  - var time = ["5 дней назад", "неделю назад"];
  - var review = ["Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"];
  - var like = [12, 2];

block root
  -var item = ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"];

block cancel
  -var cancel = "Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги";

block input
  - var dt_timetable = ['Прибытие', 'Выезд'];
  - var dt_timetable_id = ['dt-date--arrive', 'dt-date--departure'];
  - var dt_gues = 'Гости';