extends ../../layout/main

block variables
  - var templates = ["header", "details", "footer", "sprite"];
  - var title = 'details';
  - var footerList = ["Навигация", "О нас", "Служба поддержки", "Подписка"];
  - var footerItem = [["О нас", "Новости", "Служба поддрежки", "Услуги"], ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"], ["Соглашения", "Сообщества", "Связь с нами"], "Получайте специальные предложения и новости сервиса"];

block navList
  - var ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"];

block optionsList
  - var guesList = ["Взрослые", "Дети", "Младенцы"];

block inputList
  - var dt_timetable = ['Прибытие', 'Выезд'];
  - var dt_timetable_id = ['dt-date--arrive', 'dt-date--departure'];

block intelligenceList
  -
    var convenience = [{
      header: "Комфорт",
      title: "Шумопоглащающие стены",
      id: "#imoticon",
      vievBox: "0 0 40 40",
      w: "40",
      h: "40"
    }, {
      header: "Удобство",
      title: "Окно в каждой из спален",
      id: "#city",
      vievBox: "0 0 36 38",
      w: "36",
      h: "40"
    }, {
      header: "Уют",
      title: "Номер оснащён камином",
      id: "#whatsot",
      vievBox: "0 0 36 38",
      w: "36",
      h: "45"
    }];

block reviewList
  -
    var review = [{
      name: "Мурад Сарафанов",
      time: "5 дней назад",
      review: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
      like: 12,
      action: "customer__box_active--js"
    }, {
      name: "Патрия Стёклышкова",
      time: "неделю назад",
      review: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент",
      like: 2,
      action: ""
    }];

block scheduleList
  -
    var schedule = [{
      color: "lime",
      rating: "Великолепно"
    }, {
      color: "purpure",
      rating: "Хорошо"
    }, {
      color: "yellow",
      rating: "Удовлетворительно"
    }, {
      color: "dark",
      rating: "Разочарован"
    }];

block ruleList
  - var rules = ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"];

block canselList
  - var cancel = "Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги";