extends ../../layout/main

block variables
  - var templates = ["header", "banner", "footer", "sprite"];
  - var title = 'index';
  - var navList = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"];
  - var footerList = ["Навигация", "О нас", "Служба поддержки", "Подписка"];
  - var footerItem = [["О нас", "Новости", "Служба поддрежки", "Услуги"], ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"], ["Соглашения", "Сообщества", "Связь с нами"], "Получите специальное предложение и новости сервиса"];

block inputList
  - var sr_timetable = ['Прибытие', 'Выезд'];
  - var sr_timetable_id = ['sh-date--arrive', 'sh-date--departure'];
  - var sr_gues = 'Гости';

block optionsList
  - var guesList = ["Взрослые", "Дети", "Младенцы"];