extends ../../layout/main

block variables
  - var templates = ["header", "product", "footer", "sprite"];
  - var title = 'product';
  - var navList = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"];
  - var footerList = ["Навигация", "О нас", "Служба поддержки", "Подписка"];
  - var footerItem = [["О нас", "Новости", "Служба поддрежки", "Услуги"], ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"], ["Соглашения", "Сообщества", "Связь с нами"], "Получите специальное предложение и новости сервиса"];

block inputList
  //- - var pr_gues = ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"];
  - var roomList = ["Спальни", "Кровати", "Ванные комнаты"];

block input-checkbox
  - var allowed = ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"];
  - var additional = ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", "Тапочки", "Телевизор"];
  - var availabel = [{header: "Широкий коридор", title: "Ширина коридоров в номерене менее 91 см."},{header: "Помощник для инвалидов", title: "На первом этаже вас встретит специалист и проводит до номера."}];


block cards
  -
    var cards = [{
      number: 666,
      price: 9900,
      status: "Люкс",
      reviews: 143,
      checked: 3
    },{
      number: 667,
      price: 9900,
      status: "",
      checked: 4
    },{
      number: '668',
      price: '8500',
      status: "Люкс",
      reviews: 143,
      checked: 1
    },{
      number: '669',
      price: '7500',
      status: "Люкс",
      reviews: 143,
      checked: 2
    },{
      number: '670',
      price: '6000',
      status: "Люкс",
      reviews: 143,
      checked: 5
    },{
      number: '671',
      price: '5800',
      status: "Люкс",
      reviews: 143,
      checked: 3
    },{
      number: '672',
      price: '5500',
      status: "",
      reviews: 143,
      checked: 1
    },{
      number: '673',
      price: '5300',
      status: "Люкс",
      reviews: 143,
      checked: 4
    },{
      number: '674',
      price: '5300',
      status: "",
      reviews: 143,
      checked: 4
    },{
      number: '675',
      price: '5000',
      status: "",
      reviews: 143,
      checked: 5
    },{
      number: '676',
      price: '5000',
      status: "Люкс",
      reviews: 143,
      checked: 5
    },{
      number: '677',
      price: '5000',
      status: "",
      reviews: 143,
      checked: 1
    }
    ];