extends ../../layout/main
block variables
  - var templates = ["header", "registration", "footer", "sprite"];
  - var title = 'registration';
  - var navList = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"];
  - var footerList = ["Навигация", "О нас", "Служба поддержки", "Подписка"];
  - var footerItem = [["О нас", "Новости", "Служба поддрежки", "Услуги"], ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"], ["Соглашения", "Сообщества", "Связь с нами"], "Получайте специальные предложения и новости сервиса"];