:root {
  --card-nav-height: 8px;
  --card-nav-width: 8px;
}

.swiper-container {
  &:hover {
    @each $name, $val in ('prev': left, 'next': right) {
      .swiper__#{$name} {
        position: absolute;
        top: 0;
        z-index: 1;
        width: 42px;
        height: 100%;
        background: linear-gradient(
          to $val,
          rgba(255, 255, 255, 0) 0%,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
        cursor: pointer;
        #{$val}: 0;
      }

      .swiper__#{$name}:after {
        position: absolute;
        top: 50%;
        right: 20px;
        z-index: 1;
        width: var(--card-nav-width);
        height: var(--card-nav-height);
        margin-top: calc(-1 * var(--card-nav-height) / 2);
        border: 2px solid white;
        content: '';

        @if $val == left {
          transform: rotate(135deg);
        } @else {
          transform: rotate(-45deg);
        }
        border: {
          top: none;
          left: none;
        }
      }
    }
  }
}
