mixin uikit-header-footer()
  .uikit-header-footer
    .uikit-header-footer__logo
      img(src="img/svg/logo-mini.svg", alt="TOXIN главная страница")
    .uikit-header-footer__item
      +header()
    .uikit-header-footer__item
      +header()
    .uikit-header-footer__item
      +footer()
    .uikit-header-footer__item
      +footer-mobile()