mixin uikit-dropdowns()
  .uikit-dropdowns
    .uikit-dropdowns__list
      .uikit-dropdowns__dropdown
        +input-dropdown({
          id: "ui-dropdown-one",
          text: "dropdown",
          descr: "default",
          placeholder: "Сколько комнат",
          amount: "2 2 0",
          role: "room",
          list: roomList,
        })
      .uikit-dropdowns__dropdown
        +input-dropdown({
          id: "ui-dropdown-two",
          text: "dropdown",
          descr: "expanded",
          placeholder: "Сколько комнат",
          amount: "2 2 0",
          role: "room",
          list: roomList,
          mod: {clicked: "active"}
        })

    .uikit-dropdowns__list
      .uikit-dropdowns__dropdown
        +input-dropdown({
          id: "ui-dropdown-three",
          text: "dropdown",
          placeholder: "Сколько гостей",
          role: "gues",
          list: guesList,
          btnPannel: true,
          mod: {clicked: "active"}
        })

    .uikit-dropdowns__list
      .uikit-dropdowns__dropdown
        +input-dropdown({
          id: "ui-dropdown-four",
          text: "dropdown",
          placeholder: "Сколько гостей",
          amount: "2 1 0",
          role: "gues",
          list: guesList,
          btnPannel: true,
          mod: {clicked: "active"}
        })