.calendar__container {
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 369px;
  z-index: 5;
  background: $calendar__container--bg;
  border: 1px solid $calendar__container--br;
  border-radius: 4px;
}
@media(max-width: 375px) {
  .calendar__container {
    padding: 10px;
  }
}