@media(max-width: 425px) {
  .filter__btn {
    visibility: visible;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    color: white;
    font-size: rem(14);
    font-weight: bold;
  }
}
