.button {
  display: inline-block;
  font-size: em(12);
  font-family: "MontserratBold";
  line-height: em(15,12);
  background-origin: border-box;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

@import "__theme/button__theme";
@import "__mark/button__mark";
@import "_color-next/button_color-next";
@import "_color-prev/button_color-prev";




