mixin heart(heart)
  - const {amount, mod} = heart
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -     for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'heart__btn_' + styles[index];
  -   }
  - }

  .heart
    button.heart__btn.heart__btn_js(type='button' class=modClasses)
      .heart__area
        .heart__figure.heart__figure_outer
        .heart__figure.heart__figure_inner
        span.heart__amount.heart__amount_js=amount