@mixin petal($v) {
  @if $v == after {
    top: 0;
    left: $position;
  } @else {
    top: -$position;
    left: 0;
  }
}
$position: 2px;
$nav: top left;
$col: $heart_bg--bg;

.heart {
  $heart: &;

  &__area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 12px 3px 0;
    border-radius: 9px;
    background: #fff;
  }

  &__figure {
    position: absolute;
    left: 7px;
    width: 3px;
    height: 3px;
    transform: translateY(0.5px) rotate(-45deg);

    @each $val in after, before {
      &::#{$val} {
        content: '';
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $col;
        @include petal($val);
      }
    }

    &_outer {
      z-index: 1;
      background-color: $col;
    }

    &_inner {
      left: 6px;
      width: 5px;
      height: 5px;
      background-color: $heart_border--bg;
      &:after,
      &:before {
        width: 5px;
        height: 5px;
        background-color: $heart_border--bg;
      }
    }
  }

  &__amount {
    margin-left: auto;
    padding-left: 18px;
    color: $heart__amount--txt;
    font-size: rem(10);
    line-height: rem(12);
  }

  &__btn {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    padding: 1px;
    border-radius: 10px;
    background: linear-gradient(-180deg, $heart__btn--bg, $heart__btn--bg);

    &_active {
      background: linear-gradient(
        -180deg,
        $heart__btn_active_hov,
        $heart__btn_active-stop_hov
      );

      & #{$heart}__figure_outer {
        display: none;
      }

      & #{$heart}__figure_inner {
        background: $heart__btn_active_hov;

        @each $val in after, before {
          &::#{$val} {
            background: $heart__btn_active_hov;
          }
        }
      }

      & #{$heart}__amount {
        color: $heart__amount--txt_hov;
      }
    }
  }
}
