mixin header()
  header.header
    .header__container
      +logo()
      +nav()
      .header__buttons
        .header__btn-login
          a.header__link(href="website/registration.html" target="_blank" rel="nofollow noopener")
            +button({
              theme: "light",
              text: "Войти",
            })
            +icon({
              id: "sign-in",
              width: "25",
              height: "25",
              viewBox: "0 0 512 512",
              alt: "Войти",
              mod: {color: "dark"},
            })
        .header__btn-auth
          a.header__link(href="website/authorization.html" target="_blank" rel="nofollow noopener")
            +button({
              theme: "purple",
              text: "Зарегистрироваться"
            })
            +icon({
              id: "sign-up",
              width: "25",
              height: "25",
              viewBox: "0 0 512 512",
              alt: "Зарегистрироваться",
              mod: {color: "dark"},
            })
      
      .header__user.header__user_js
        +user({
          name: "Юлий Цезарь"
        })

