mixin input-mark(mark)
  - const {id, text, status, description} = mark;
  - let fontWeigth = '';
  - if ( description ) {
  -  fontWeigth = 'thick';
  - }

  .input-mark(tabindex="0")
    +input-checkbox({
      id: id,
      status: status,
      mod: {visible: "hidden"},
    })
    +label({
      forId: id,
      text: text,
      mod: {checked: "checked", weigth: fontWeigth},
    })
    if description
      .input-mark__description=description
