.rectangle.authorization
  form(action="" name="aut")
    fieldset.rectangle__container
      legend.rectangle__title Войти
      ul.rectangle__list(role='none')
        li.rectangle__item
          .rectangle__content
            +input-email("aut-email", "authorization__input input__placeholder_color--25", "Email")
            label.visuallyhidden(for='aut-email') Email
          .rectangle__content
            +input-password("aut-pass", "input__placeholder_color--25", "Пароль")
            label.visuallyhidden(for='aut-pass') Пароль
        li.rectangle__item
          .rectangle__submit
            +buttons(2, 'Войти', 'button_width')
            +icon("arrow-big", 16, 16, "0 0 17 18", "arrow-big rectangle__arrow-big", "Войти")
          .rectangle__create
            p.rectangle__create-text Нет акаунта на Toxin?
            +buttons( 1, 'Создать', 'button_end-focus')