block variable

.banner
  img.banner__img(src="./assets/img/banner.png", alt="Лучшие номера")
  .container.banner__container
    .banner__text Лучшие номера для вашей работы отдыха и просто вдохновения
    main.rectangle.banner__rectangle
      h1.rectangle__title Найдём номера под ваши предложения
      form(action="" id="search" name="")
        block append index
          - var params = {item: 1, name: 'arrive', type: 'date', js: 'rectangle__date_js_click'};
          - var rectangleList = ['Прибытие', 'Выезд'];
        .rectangle__date
          -for(var i=0; i<rectangleList.length; i++)
            include ../../components/input-dropdown
          - var i = undefined;
        include ../../components/calendar
        block append index
          - var params = {item: 2, name: 'gues', type: 'text', js: 'rectangle__gues_js_click', place: 'Сколько гостей'};
          - var rectangleList = 'Гости';
        .rectangle__gues
          include ../../components/input-dropdown