div.calendar.hidden
  .swiper-container
    .swiper-wrapper
    button.calendar__arrow-next
      +icon("arrow-icn", 17, 18, "0 0 17 18", "calendar", "Календарь следующий")
    button.calendar__arrow-prev
      +icon("arrow-icn", 17, 18, "0 0 17 18", "calendar", "Календарь предыдущий")
  .calendar__response
    button.button.button_color-prev Очистить
    button.button.button_color-next Применить

