block variable

footer.footer(role="contentinfo")
  .container.footer__container
    .footer__widget
      .footer__box
        .logo.footer__logo
          a.logo__link(href="#")
            +icon('pick', 106, 40, "0 0 106 40", "logo", "TOXIN, бронирование номеров")
        p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      ul.footer__row
        -for(var k=0; k<footerList.length; k++)
          li.footer__col
            span.offensive=footerList[k]
            ul.footer__list
              if k == footerItem.length - 1
                li.footer__item
                  p.footer__text.footer__text_margin=footerItem[k]
                  .footer__email
                    form(action="")
                    .input-email
                      input.input(name='email' type='email' required placeholder='Email')
                      +icon("arrow-big", 16, 16, "0 0 17 18", "arrow-big footer__arrow-big", "Подписка")
              else
                each val in footerItem[k]
                  li.footer__item
                    a.footer__links(href="#")=val
        - var k = null;
  hr.footer__line
  .container.footer__date
    p.footer__cop Copyright ©
      time(datetime='2018') 2018 &nbsp
      | Toxin отель. Все права защищены.
    .footer__social
      a.footer__social-link(href="#")
        +icon('twit', 24, 21, "0 0 24 21", "footer__social-icn", "Мы в twitter")
      a.footer__social-link(href="#")
        +icon('face', 22, 22, "0 0 22 22", "footer__social-icn", "Мы в facebook")
      a.footer__social-link(href="#")
       +icon('insta', 22, 22, "0 0 22 22", "footer__social-icn", "Мы в instagram")
.popup.hidden
  include ../../components/rectangles/authorization
  include ../../components/rectangles/registration