block variable

header.header
  .container.header__container

    .logo
      a.logo__link(href="index.html")
        picture
          source( media="(max-width: 460px)" srcset="assets/img/svg/sm-logo.svg 60w" sizes="15vw")
          img(srcset="assets/img/svg/logo.svg 106w", sizes="105px" alt="TOXIN главная страница")
    .nav
      input.nav__input.visuallyhidden(type="checkbox" id="hamburger")
      label.nav__check(for="hamburger")
        span
      .nav__container.overlay.nav__overlay
        .nav__modal
          ul.nav__list
            -for(var i=0; i<navList.length; ++i)
              if i == 1 || i == 4
                li.nav__item
                  a.nav__link(href="#")=navList[i]
                    span.nav__arrow.arrow
              else
                li.nav__item
                  a.nav__link(href="#")=navList[i]
            - var i = undefined;
    .header__button
      +buttons( 1, 'Войти', 'button_popup--open', 'date-auth')
      +buttons(2, 'Зарегистрироваться', 'button_popup--open', 'date-reg')