block variable

header.header
  .container.header__container
    .logo
      a.logo__link(href="#")
        +icon('pick', 106, 40, "0 0 106 40", "logo", "TOXIN, бронирование номеров")
    .nav
      ul.nav__list
        -for(var i=0; i<navList.length; ++i)
          if i == 1 || i == 4
            li.nav__item
              a.nav__link(href="#")=navList[i]
                span.nav__arrow.arrow
          else
            li.nav__item
              a.nav__link(href="#")=navList[i]
        - var i = undefined;
    +buttons( 1, 'Войти', 'header__button button_popup--open', 'date-auth')
    +buttons(2, 'Зарегистрироваться', 'header__button button_popup--open', 'date-reg')