.home
  h2 Ul-Kit
  ul.home__list
    li.home__page
      a.home__details(href="ul-kit/cards.html" target="_blank" rel="nofollow noopener") cards
    li.home__page
      a.home__main(href="ul-kit/from.html" target="_blank" rel="nofollow noopener") from
    li.home__page
      a.home__product(href="ul-kit/header.html" target="_blank" rel="nofollow noopener") header
  h2 Pages
  ul.home__list
    li.home__page
      a.home__details(href="website/details.html" target="_blank" rel="nofollow noopener") details
    li.home__page
      a.home__main(href="website/main.html" target="_blank" rel="nofollow noopener") main
    li.home__page
      a.home__product(href="website/product.html" target="_blank" rel="nofollow noopener") product
  h2 k