.home
  .home__page
    a.home__details(href="details/details.html" target="_blank" rel="nofollow noopener") details
  .home__page
    a.home__main(href="main/main.html" target="_blank" rel="nofollow noopener") main
  .home__page
    a.home__product(href="product/product.html" target="_blank" rel="nofollow noopener") product