.home
  .home__page
    a.home__details(href="website/details.html" target="_blank" rel="nofollow noopener") details
  .home__page
    a.home__main(href="website/main.html" target="_blank" rel="nofollow noopener") main
  .home__page
    a.home__product(href="website/product.html" target="_blank" rel="nofollow noopener") product
  .home__page
    a.home__product(href="ul-kit/new.html" target="_blank" rel="nofollow noopener") ul-kit