block input

.product
  .container.product__container
    include ../../components/rectangles/filter
    .product__list
      include ../../components/card
      include ../../components/pagination






