block variables
block inputList
block intelligenceList
block reviewList
block markList
block optionsList
block cardsList
block dateList
block navList
block scheduleList
block ruleList
block cancelList
block searchList
block descriptionList
block socialIconList

include ../src/components/icon/icon
include ../src/components/calendar/calendar
include ../src/components/button/button
include ../src/components/input-toggle/input-toggle
include ../src/components/input-radio/input-radio
include ../src/components/input-date/input-date
include ../src/components/input-email/input-email
include ../src/components/input-password/input-password
include ../src/components/input-dropdown/input-dropdown
include ../src/components/input-options/input-options
include ../src/components/input-list/input-list
include ../src/components/input-mark/input-mark
include ../src/components/rule/rule
include ../src/components/filter/filter
include ../src/components/intelligence/intelligence
include ../src/components/reviews/reviews
include ../src/components/heart/heart
include ../src/components/rating/rating
include ../src/components/pagination/pagination
include ../src/components/nav/nav
include ../src/components/schedule/schedule
include ../src/components/cancel/cancel
include ../src/components/description/description
include ../src/components/search/search
include ../src/components/header/header
include ../src/components/footer/footer
include ../src/components/input-range/input-range
include ../src/components/label/label
include ../src/components/input-checkbox/input-checkbox
include ../src/components/input/input
include ../src/components/logo/logo
include ../src/components/user/user
include ../src/components/details/details
include ../src/components/banner/banner
include ../src/components/registration/registration
include ../src/components/authorization/authorization
include ../src/components/home/home
include ../src/components/sign-in/sign-in
include ../src/components/sign-up/sign-up
include ../src/components/product/product
include ../src/components/footer-mobile/footer-mobile
include ../src/components/social-icon/social-icon
include ../src/components/card/card

include ../src/components/uikit-elements/uikit-elements
include ../src/components/uikit-forms/uikit-forms
include ../src/components/uikit-header-footer/uikit-header-footer
include ../src/components/uikit-type/uikit-type



doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title #{title}
body(id=title)
  each temp in templates
    case temp
      when "header"
        +header()
      when "banner"
        +banner({
          mixinName: "search",
        })
      when "footer"
        +footer()
      when "sprite"
        include ../src/assets/img/svg/sprite.svg
      when "product"
        +product()
      when "details"
        +details()
      when "home"
        +home()
      when "authorization"
        +sign-in()
      when "registration"
        +sign-up()
      when "cards"
        +uikit-type()
      when "form"
        +uikit-forms()
      when "elements"
        +uikit-elements()
      when "header-footer"
        +uikit-header-footer()
        
  script(type="text/javascript" src="js/vendor.bundle.js")
      





