.input-password {
  position: relative;

  &__field {
    display: block;
    width: 100%;
    min-width: 320px;
    height: 44px;
    padding: 0 28px 0 14px;
    color: $dark-75;
    font-size: rem(14);
    font-family: $mainFont;
    border: 1px solid $dark-25;
    border-radius: 4px;

    @media (max-width: 320px) {
      min-width: 100%;
    }

    &::placeholder {
      color: $dark-25;
    }

    &:focus-visible,
    &:hover {
      border: 1px solid $dark-50;
      outline: 0;
    }
  }
}
