.uikit
  .uikit__logo
    include ../../../src/scss/templates/uikit-logo/uikit-logo
  .uikit-header-footer
    .uikit-header
      +header()
    .uikit-header.uikit-header_mt
      +header()
    .uikit-footer
      +footer()
    .uikit-footer-mobile.footer
      .logo.footer__logo
        a.logo__link(href="#")
          +icon({
            id: "pick",
            width: "106",
            height: "40",
            viewBox: "0 0 106 40",
            alt: "TOXIN, бронирование номеров",
          })
      p.footer__cop Copyright ©
        time(datetime='2018') 2018 &nbsp
        | Toxin отель. Все права защищены.
      .footer__social
        a.footer__social-link(href="#")
          +icon({
            id: "twit",
            width: "24",
            height: "21",
            viewBox: "0 0 24 21",
            alt: "Мы в twitter",
          })
        a.footer__social-link(href="#")
          +icon({
            id: "face",
            width: "22",
            height: "22",
            viewBox: "0 0 22 22",
            alt: "Мы в facebook",
          })
        a.footer__social-link(href="#")
          +icon({
            id: "insta",
            width: "22",
            height: "22",
            viewBox: "0 0 22 22",
            alt: "Мы в instagram",
          })