.search__label {
    visibility: hidden;
  }
  
  @media(max-width: 425px) {
    .search__label {
      visibility: visible;
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(180deg,rgb(188, 156, 255),rgb(139, 164, 249));
      transform: scale(0.8);
      transition: .5s;
    }
    .search__label:after {
      content: attr(data-click);
      position: absolute;
      width: 95%;
      height: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(30);
      font-weight: bolder;
      color: rgb(188, 156, 255);
      background: #fff;
      border-radius: 50%;
    }
    .search__checkbox_open:checked ~ label {
      transform: scale(1);
      transition: .5s;
    }
    .search__checkbox_open:checked ~ label:after {
      background: transparent;
      color: #fff;
    }
  }
  