mixin label(label)
  - const {forId, text, mod} = label;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     if ( styles[index] != '' ) {
  -       modClasses = modClasses + (index != 0 ? ' ' : '') + 'label_' + styles[index]; 
  -     }
  -   }
  - }
  //- div=JSON.stringify(mod)
  label.label(class=modClasses for=forId)=text