  $position: 2px;
$nav: top left;
$col: $heart_bg--bg;
@mixin petal($v) {
  @if $v == after {
    left: $position;
    top: 0;
  } @else {
    left: 0;
    top: -$position;
  }
}
.heart {
  position: absolute;
  width: 3px;
  height: 3px;
  transform: translateY(.5px) rotate(-45deg);
  left: 7px;




  @each $val in after, before {
    &::#{$val} {
      content: '';
      width: 3px;
      height: 3px;
      position: absolute;
      border-radius: 50%;
      background-color: $col;
      @include petal($val);
    }
  }
  &:after {
  }
  &:before {

  }
}
.heart_bg {
  background-color: $col;
  z-index: 1;
}

.heart_border {
  background-color: $heart_border--bg;
  left: 6px;
  width: 5px;
  height: 5px;
  &:after, &:before {
    width: 5px;
    height: 5px;
    background-color: $heart_border--bg;
  }
}