.filter {
  min-width: 320px;
  max-width: 380px;
  @media (max-width: 425px) {
    min-width: inherit;
  }

  &__close {
    display: none;
    @media (max-width: 425px) {
      display: block;
      width: 20px;
      margin-left: auto;
      fill: rgba(31, 32, 65, 0.25);
    }
  }

  &__check {
    display: none;
  }

  &__check {
    @media (max-width: 425px) {
      position: fixed;
      top: 40%;
      left: 0;
      z-index: 2;
      display: inline-block;
      padding: 30px 8px;
      border-radius: 0 20px 20px 0;
      background: linear-gradient(
        180deg,
        rgb(188, 156, 255),
        rgb(139, 164, 249)
      );
      transition: left 0.5s, transform 0.1s 0.3s;
    }
  }

  &__btn {
    @media (max-width: 425px) {
      color: white;
      font-weight: bold;
      font-size: rem(14);
      text-transform: uppercase;
      visibility: visible;
      writing-mode: vertical-rl;
    }
  }
}

// TODO: id
#filter:checked ~ .rectangle__filter {
  left: 0;
}
#filter:checked ~ .filter__check {
  left: 100%;
}
