mixin filter()
  .filter
    +input-checkbox({
      id: "filter",
      mod: {visible: "hidden"},
    })
    label.filter__label(for="filter")
      span.filter__btn Фильтр
    .filter__menu
      label.filter__close(for="filter")
      form(action="" name="")
        ul.filter__schedule(role='none')
          li.filter__date
            +input-date({
              id: "pr-date",
              placeholder: "ДД.ММ.ГГГГ",
              text: "Даты пребывания в отеле",
              mod: {width: "wide"},
            })
            +calendar()
          li.filter__item-bottom
            .filter__content
              +input-dropdown({
                id: "pr-gues",
                text: "Гости",
                placeholder: "Сколько гостей",
                role: "gues",
                list: guesList,
                btnPannel: true,
              })
          li.filter__item-bottom 
            .filter__range
              +input-range({
                value: "10,80",
                text: "Диапазон цены",
                footnote: "Стоимость за сутки пребывания в номере",
              })
          li.filter__item-bottom
            .filter__content
              +label({
                text: "Правила дома",
                mod: {weigth: "large"},
              })
              .filter__list
                each value, index in allowed
                  +input-mark({
                    id: "allowed-"+index,
                    text: value.title,
                    description: value.descr,
                  })
          li.filter__item-bottom
            +label({
              text: "Доступность",
              mod: {weigth: "large"},
            })
            .filter__list
              each value, index in availabel
                +input-mark({
                  id: "availabel-"+index,
                  text: value.title,
                  description: value.descr,
                })
          li.filter__item-bottom
            .filter__content
              +input-dropdown({
                id: "pr-room",
                text: "Удобство номера",
                placeholder: "Сколько комнат",
                role: "room",
                list: roomList,
              })
          li.filter__item-bottom
            .filter__content
              +input-list({
                text: "Дополнительные удобства",
              })