.filter
  input.input-checkbox.input-checkbox_hidden(type="checkbox" id="filter")
  label.filter__label(for="filter")
    span.filter__btn Фильтр
  .filter__menu
    .rectangle
      label.rectangle__close(for="filter")
      form(action="" name="")
        ul.rectangle__schedule(role='none')
          li.rectangle__date
            +input-date("pr-date", "ДД.ММ.ГГГГ", "", "", "Даты пребывания в отеле")
            +calendar()

          li.rectangle__item-bottom
            label.label.label_large(for='pr-gues') Гости
            .rectangle__content
              +input-dropdown("", "pr-gues", "Сколько гостей", "", "gues", "1")

          li.rectangle__item-bottom
            .rectangle__label
              label.label.label_large Диапазон цены
              span.rectangle__price
            .rectangle__range
              input.input-range(type='range' multiple value='10,80')
              span.rectangle__text-small Стоимость за сутки пребывания в номере

          li.rectangle__item-bottom
            .rectangle__content
              span.label.label_large Правила дома
              .rectangle__list
                each item, index in allowed
                  +input-mark(index, item, "gues", 1)

          li.rectangle__item-bottom
            span.label.label_large Доступность
            .rectangle__list
              each item, index in availabel
                +input-mark(index, item, "available", 0)

          li.rectangle__item-bottom
            label.label.label_large(for='pr-room') Удобство номера
            .rectangle__content
              +input-dropdown("", "pr-room", "Сколько комнат", "", "room", 0)

          li.rectangle__item-bottom
            .rectangle__content
              +input-list("","Дополнительные удобства", "", 1, "additional")