block cards
.product__card.card
  h1.card__title Номера, которые мы для вас подобрали
  ul.card__list
    each card, index in cards
      li.card__item
        .swiper-container.card__swiper-container
          .swiper-wrapper
            -for(var i=1; i<=4; ++i)
              .swiper-slide
                picture.card__pic
                  source.card__img(type="image/webp" srcset="./assets/img/card_0"+i+".webp")
                  source.card__img(type="image/png" srcset="./assets/img/card_0"+i+".png")
                  img.card__img(src="./assets/img/card_0"+i+".jpg", alt="Номер в гостинице")
          .card__pagination
          .swiper-prev
          .swiper-next
        .card__descr
          .card__content
            .room
              .room__container
                span.room__number №&nbsp#{card["number"]}
                strong.room__luxury #{card["status"]}
              .room__container
                span.room__price #{card["price"]}
                | в сутки
          hr.line.card__line
          .card__content
            +rating(index, card["checked"])
            span.card__about #{card["reviews"]}&nbsp
            | Отзывов