mixin input-email(id, className, holder, classLabel)
  .input-email
    input.input(name='email' id=id class=className type='email' autocorrect='off' inputmode='email' autocomplete='email' required placeholder=holder)


    if (classLabel !== undefined)
      +icon("arrow-big", 16, 16, "0 0 17 18", "arrow-big footer__arrow-big", "Подписка")
  if id == undefined
    label.visuallyhidden(class=classLabel for=id)=holder
