mixin input-dropdown(id, holder, val, role)
  input.input_position.input.input-dropdown.js--click.input-dropdown_event--js(type='text' id=id required readonly placeholder=holder autocomplete="off" value=val data-role=role)
  button.button.button_arrow.js--click(type="button")