mixin input-dropdown(id, holder, val, role)
  input.input_position.input.js--click.input_dropdown--js(type='text' id=id required readonly placeholder=holder autocomplete="off" value=val data-role=role)
  button.button.button_arrow.button_z--3.js--click(type="button")