mixin input-options(index)
  .input-options.canvas.js--show.hidden
    -for(var i=0; i<3; i++)
      .input-options__opt
        span.offensive=dropList[i]
        .input-options__marks
          +buttons(4, '', 'button__mark_minus button__mark_default')
          span.input-options__offensive.offensive 0
          +buttons(4, '', 'button__mark_plus')
    - var i = null;
     if index == 1
       .input__btns
         +buttons(3, 'Очистить', 'button_color-prev button_js-prev')
         +buttons(3, 'Применить', 'button_color-next button_js-next')