mixin input-dropdown(id, holder, val, role)
  input.input_position.input.input-dropdown.js--click(type='text' id=id required readonly placeholder=holder autocomplete="off" value=val data-role=role)
  +buttons(5, "", "js--click")