mixin input-toggle(className, holder)
  label.input-toggle.label.label_font--regular(class=className)
    input.input-toggle__tab(name='' type='checkbox' id='reg-toggle')
    span.input-toggle__slider
    span.input-toggle__text holder