mixin input-date(id, holder, className)
  input.input.input-date(name='' id=id type='text' required autocorrect='off' inputmode='numeric' autocomplete='cc-exp' placeholder=holder onfocus="(this.type='date')" onblur="(this.type='text')" class=className maxlength='10')