mixin input-radio(id, className, classLabel, labelName)
  .input-radio(class=className)
    input.input.visuallyhidden(type='radio' id=id name='gender')
    label.label(for=id class="classLabel")=labelName