mixin input-text(id, holder, autocomplete, pattern, className)
  input.input(id=id type="text" placeholder=holder required autocorrect='off' autocapitalize='off' autocomplete="autocomplete" pattern=pattern class=className)
