.intelligence
    h2.details__title Сведения о номере
    ul.intelligence__list
      li.intelligence__item
        .intelligence__pick
          svg.intelligence__icn(viewBox="0 0 36 38" height="100%" aria-label="Комфорт")
            use(xlink:href="#imoticon")
        .intelligence__container
          b.intelligence__text.details__intelligence Комфорт
          div.intelligence__text Шумопоглащающие стены
      li.intelligence__item
        .intelligence__pick
          svg.intelligence__icn(viewBox="0 0 36 38" height="100%" aria-label="Удобство")
            use(xlink:href="#city")
        .intelligence__container
          b.intelligence__text.details__intelligence Удобство
          div.intelligence__text Окно в каждой из спален
      li.intelligence__item
        .intelligence__pick
          svg.intelligence__icn(viewBox="0 0 34 43" height="100%" aria-label="Уют")
            use(xlink:href="#whatsot")
        .intelligence__container
          b.intelligence__text.details__intelligence Уют
          div.intelligence__text Номер оснащён камином