.rectangle.registration.pupup__content

  span
    +icon("rec-close", 16, 16, "0 0 47.971 47.971", "", "Закрыть")

  form(action="" name="")
    fieldset.rectangle__container
      legend.rectangle__title Регистрация акаунта
      ul.rectangle__list(role='none')
        li.rectangle__item
          .rectangle__content
            input.input(name='' id='reg-name' type='text' placeholder='Имя' required autocorrect='off' autocomplete='name' pattern='[а-яёА-ЯЁ]')
            label.visuallyhidden(for='reg-name') Имя
          .rectangle__content
            input.input(name='' id='reg-lname' type='text' placeholder='Фамилия' required autocorrect='off' autocomplete='lname' pattern='[а-яёА-ЯЁ]')
            label.visuallyhidden(for='reg-lname') Фамилия
          .rectangle__content
            span.rectangle__content-radio
              input.input-radio.visuallyhidden(type='radio' id='reg-man' name='gender' checked)
              label.rectangle__lb--regular(for='reg-man') Мужчина
            span.rectangle__content-radio
              input.input-radio.visuallyhidden(type='radio' id='reg-wom' name='gender')
              label.rectangle__lb--regular(for='reg-wom') Женщина
        li.rectangle__item
          label.rectangle__lb--bold(for='reg-birth') Дата рождения
          input.input.input-mark__list(name='' id='reg-birth' type='date' required autocorrect='off' inputmode='numeric' autocomplete='cc-exp')
        li.rectangle__item
          .rectangle__lb--bold Данные для входа в сервис
          .rectangle__content
            label.visuallyhidden(for='reg-email')
            input.input(name='' id='reg-email' type='email' required autocorrect='off' inputmode='email' autocomplete='email' placeholder='Email')
          .rectangle__content
            label.visuallyhidden(for='reg-password')
            input.input(name='' id='reg-password' type='password' required autocorrect='off' placeholder='Пароль')
          .rectangle__content
            label.input-toggle.rectangle__lb--regular
              input.input-toggle__tab(name='' type='checkbox' id='reg-toggle')
              span.input-toggle__slider
              span.input-toggle__text Получать спецпредложения
        li.rectangle__item
          .rectangle__submit
            +buttons(2, 'Войти', 'authorization__button authorization__button_size authorization__button_width')
            +icon("arrow-big", 16, 16, "0 0 17 18", "arrow-big rectangle__arrow-big", "Войти")
          .rectangle__create
            p.rectangle__create-text Уже есть акаунт на Toxin?
            +buttons( 1, 'Создать', 'authorization__button_size')