.reviews
  h2.details__title Сведения о номере
  ul.reviews__list
    li.reviews__item
      .reviews__content
        .reviews__person
          img.reviews__pick(src='./assets/img/svg/person1.svg')
          .reviews__box
            .reviews__like
              .reviews__heart.heart
              span.reviews__like-amount 12
