main.rectangle.search.search_bg
  form(action="" name="")

    fieldset.rectangle__container
      legend.rectangle__title Найдём номера под ваши предложения

    ul.rectangle__list(role='none')
      li.rectangle__item
        .rectangle__content
          block append index
            - var rectangleList = ['Прибытие', 'Выезд'];
          .rectangle__date
            -for(var i=0; i<2; ++i)

            .rectangle__date-col
              label.rectangle__lb--bold(for='arrive')=rectangleList[i]
              .input-mark
                input.input.input-mark__list.rectangle__date_js_click(name='' id='sh-date' type='date' required inputmode='numeric' autocomplete='cc-exp')
                span.arrow.input__arrow.rectangle__date_js_click
            - var i = null;
          include ./calendar

        li.rectangle__item.rectangle__item_mb--30
          .rectangle__content
            block append index
              - var rectangleList = 'Гости';
            .rectangle__gues
              label.rectangle__lb--bold(for='arrive')=rectangleList

              .input-list
                input.input.input-list_placeholder.rectangle__gues_js_click(name='gues' type='text' placeholder='Сколько гостей' required autocomplete="off")
                span.arrow.input__arrow.rectangle__gues_js_click
                +input-options()

        li.rectangle__item
          .rectangle__submit
            +buttons(2, 'Подобрать номер', 'button_width')
            +icon("arrow-big", 16, 16, "0 0 17 18", "arrow-big rectangle__arrow-big", "Подобрать номер")