mixin input-email(email)
  - var modClasses = '';
  - if (email.mod) {
  -   var styles = Object.values(email.mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-email__field_' + styles[index];
  -   }
  - }

  .input-email
    input.input-email__field(name='email' id=email.id class=modClasses type='email' autocorrect='off' inputmode='email' autocomplete='email' required placeholder=email.placeholder)
    if (email.arrow)
      +icon({
        id: "arrow-big",
        width: "18",
        height: "18",
        viewBox: "0 0 17 18",
        alt: "Подписка",
        mod: {position: "center", color: "purple"},
      })
