.intelligence {
  &__title {
    margin-bottom: 20px;
  }

  &__text {
    font-size: rem(14);
    line-height: rem(21, 14);
  }

  &__pick {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    text-align: center;
  }

  &__list {
    display: inline-flex;
    flex-direction: column;
  }

  &__item {
    padding: 20px 0;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);

    &:first-child {
      padding-top: unset;
    }

    &:last-child {
      border: none;
    }
  }

  &__container {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
  }

  &__accent {
    display: block;
    margin-bottom: 6px;
  }
}
