mixin uikit-type()
  .uikit-type
    .uikit-type__logo
      img(src="img/svg/logo-mini.svg", alt="TOXIN главная страница")
    .uikit-type__list
      .uikit-type__color
        ul.uikit-type__menu
          each value, index in ["dark-100", "dark-75", "dark-50", "dark-25", "dark-5", "purple", "green"]
            li.uikit-type__item
              .uikit-type__square(class="uikit-type__square_"+value)
              .uikit-type__title
                .uikit-type__name=colors[0][index]
                span.uikit-type__value=colors[1][index]

      .uikit-type__font
        ul.uikit-type__tags-menu
          each value, index in ["first-level", "second-level", "third-level", "body"]
            li.uikit-type__tags-item
              div.uikit-type__tag(class="uikit-type__tag_" + value)=font[0][index]
              span.uikit-type__text(class="uikit-type__text_" + value)=font[1][index]