.input-dropdown__mark-sign {
  font-family: $mainFont;
  font-size: em(18);
  line-height: em(22,18 );
  color: $input-dropdown__mark-minus--txt;
  border: 1px solid $input-dropdown__marks--bd;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
@import '_minus/input-dropdown__mark-sign_minus';
@import '_plus/input-dropdown__mark-sign_plus';
@import '_active/input-dropdown__mark-sign_active';