mixin uikit-cards()
  .uikit-cards
    .uikit-cards__list
      .uikit-cards__text-field
        +input-email({
          id: "ui-email",
          text: "text field",
          descr: "default",
          placeholder: "Email",
        })
      .uikit-cards__text-field
        +input({
          id: "ui-text",
          text: "text field",
          descr: "hover / focus",
          value: "This is pretty awesome",
          autocomplete: "lname",
          patern: "[а-яёА-ЯЁ]",
          mod: {holder: "placeholder-dark"}
        })
      .uikit-cards__dropdown
        +input-dropdown({
          id: "ui-gues",
          text: "dropdown",
          value: "Сколько гостей",
          role: "gues",
          list: guesList,
        })
      .uikit-cards__masked-text
        +input-date({
          id: "ui-masked-text",
          text: "masked text field",
          placeholder: "ДД.ММ.ГГГГ"
        })
      .uikit-cards__date-dropdown
        +input-date({
          id: "ui-date-start",
          placeholder: "ДД.ММ.ГГГГ",
          text: "date dropdown",
        })
        +input-date({
          id: "ui-date-end",
          value: "19.08.2019",
          text: "date dropdown",
        })
        +calendar()
      .uikit-cards__filter-date
        +input-date({
          id: "ui-date-filter",
          value: "19 авг - 23 авг",
          placeholder: "ДД.ММ.ГГГГ",
          text: "filter date dropdown",
        })
        +calendar()
      .uikit-cards__subscription-text
        +input-email({
          id: "ui-subscription",
          text: "subscription text field",
          placeholder: "Email",
          arrow: true,
        })

    .uikit-cards__list
      .uikit-cards__checkbox-buttons
        .uikit-cards__title checkbox buttons
        .uikit-cards__mark
          each value, index in allowed
            if index == 0
              +input-mark({
                id: "gues-"+index,
                text: value.title,
              })
            else
              +input-mark({
                id: "gues-"+index,
                text: value.title,
                status: "checked",
              })
      .uikit-cards__radio-buttons
        .uikit-cards__title radio buttons
        .uikit-cards__radio-list
          +input-radio({
            id: "reg-man",
            text: "Мужчина",
            name: "gender",
            status: true,
          })
          +input-radio({
            id: "reg-wom",
            text: "Женщина",
            name: "gender",
          })
      .uikit-cards__toggle
        .uikit-cards__title toggle
        .uikit-cards__toggle-list
          .uikit-cards__toggle-item
            +input-toggle({
              text: "Получать спецпредложения",
              status: true,
            })
          +input-toggle({
            text: "Получать спецпредложения",
          })
      .uikit-cards__like-button
        .uikit-cards__title like button
        .uikit-cards__heart-list
          .uikit-cards__heart-item
            +heart({
              amount: "2",
            })
          .uikit-cards__heart-item
            +heart({
              mod: {active: "active-js"},
              amount: "12",
            })
      .uikit-cards__rate-button
        .uikit-cards__title rate button
        .uikit-cards__rating-list
          .uikit-cards__rating-item
            +rating({
              index: 1,
              check: 2,
            })
          .uikit-cards__rating-item
            +rating({
              index: 2,
              check: 1,
            })
        
    .uikit-cards__list
      .uikit-cards__range-slider
        +input-range({
          text: "range slider",
          value: "29.9,64.3",
          step: "0.1",
        })
      .uikit-cards__buttons
        .uikit-cards__title buttons
        .uikit-cards__button-list
          .uikit-cards__button-purple
            .uikit-cards__button-item
              +button({
                theme: "purple",
                text: "Click me",
              })
            .uikit-cards__button-item
              +button({
                theme: "purple",
                text: "Click me",
                mod: {status: "active"},
              })
          .uikit-cards__button-light
            .uikit-cards__button-item
              +button({
                theme: "light",
                text: "Click me",
              })
            .uikit-cards__button-item
              +button({
                theme: "light",
                text: "Click me",
                mod: {status: "active"},
              })

          .uikit-cards__button-default
            .uikit-cards__button-item
              +button({
                text: "Click me",
                mod: {color: "purple"},
              })
            .uikit-cards__button-item
              +button({
                text: "Click me",
                mod: {status: "active"},
              })
        .uikit-cards__button-purple
            +button({
              theme: "purple",
              text: "перейти к оплате",
              mod: {weigth: "broad"},
            })
            +icon({
              id: "arrow-big",
              width: "18",
              height: "18",
              viewBox: "0 0 17 18",
              alt: "перейти к оплате",
              mod: {position: "center", color: "light"},
            })
      .uikit-cards__pagination
        .uikit-cards__title pagination
        .uikit-cards__pagination-list
          +pagination()