.nav__item {
  margin-right: 20px;
  position: relative;
}

.nav__item .button {
  all: initial;
  padding: 0px 7px;
  cursor: pointer;
  & span {
    color: rgba(#1F2041,.5);
  }
}

@media(max-width: 1023px) {
  .nav__item {
    transition-duration: .25s;
    margin: 14px 0;
  }
}