.filter {
  $filter: &;

  min-width: 266px;

  @media (max-width: 760px) {
    min-width: inherit;
  }

  &__schedule {
    background: #fff;

    @media (max-width: 760px) {
      padding: 0 10px 40px 10px;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;

    @media (max-width: 760px) {
      opacity: unset;
    }

    &::before,
    &::after {
      position: absolute;
      width: 2px;
      height: 17px;
      background: rgb(139, 164, 249);
      content: '';
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item-bottom {
    position: relative;
    margin-bottom: 30px;
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__range {
    margin-top: 20px;
  }

  &__content {
    margin-bottom: 10px;

    & .input-mark {
      max-width: 240px;
    }
  }

  & .rectangle {
    padding: unset;
    box-shadow: unset;

    @media (max-width: 760px) {
      padding: 40px 30px 30px;
    }
  }

  &__menu {
    @media (max-width: 760px) {
      position: fixed;
      top: 70px;
      bottom: 0;
      left: -100%;
      z-index: 1;
      width: 100%;
      padding-top: 40px;
      overflow-y: auto;
      background: #fff;
      transition: left 0.5s;
    }
  }

  & .input-checkbox:checked ~ #{$filter}__menu {
    left: 0;
  }

  &__list {
    margin-top: 16px;

    & .input-mark:first-of-type .input-mark__description {
      max-width: 230px;
    }

    & .input-mark:last-of-type .input-mark__description {
      max-width: 260px;
    }
  }

  &__label {
    display: none;

    @media (max-width: 760px) {
      position: fixed;
      top: 40%;
      left: 0;
      z-index: 2;
      display: inline-block;
      padding: 30px 8px;
      background: linear-gradient(
        180deg,
        rgb(188, 156, 255),
        rgb(139, 164, 249)
      );
      border-radius: 0 20px 20px 0;
      transition: left 0.5s, transform 0.1s 0.3s;
    }
  }

  & .input-checkbox:checked ~ #{$filter}__label {
    left: 100%;
  }

  &__btn {
    @media (max-width: 760px) {
      color: white;
      font-weight: bold;
      font-size: rem(14);
      text-transform: uppercase;
      visibility: visible;
      writing-mode: vertical-rl;
    }
  }
}
