:root {
  --card-bullet-width: 7.5px;
  --card-bullet-height: 7.5px;
  --min-width: 240px;
}

.card {
  &__value {
    margin-right: 4px;
    margin-left: auto;
    color: $dark-50;
    font-weight: bold;
    font-size: rem(14);
  }

  &__pic {
    display: block;
    height: 151px;
  }

  &__pagination {
    position: absolute;
    right: 12px;
    bottom: 12px;
    z-index: 1;
    display: flex;
  }

  &__bullet {
    width: 8px;
    height: 8px;
    margin: 0 3px 2px 0;
    border: 1px solid #fff;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

    &_active {
      background-color: #fff;
    }
  }

  &__line {
    height: 1px;
    margin-top: 10px;
    margin-bottom: 9px;
    background-color: $gray-10;
    color: $gray-10;
  }

  &__item {
    overflow: hidden;
    min-width: 210px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__img {
    object-fit: cover;
    height: 100%;
  }

  &__descr {
    padding: 20px 18px 20px 20px;
  }

  &__top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__number {
    padding-right: 5px;
    color: $dark;
    font-weight: 700;
    font-size: rem(20);
    font-family: $additionalFont;

    &::before {
      content: '№ ';
      font-size: rem(14);
    }
  }

  &__status {
    color: $purple;
    font-weight: 700;
    font-size: rem(12);
    text-transform: uppercase;
  }

  &__price {
    padding-right: 3px;
    color: $dark-50;
    font-weight: 700;
    font-size: rem(14);
    letter-spacing: -0.4px;
  }

  &__text {
    font-weight: normal;
    font-size: rem(12);
  }

  &__about {
    padding-right: 2px;
    color: $dark-50;
    font-size: rem(14);
  }
}
