.input-checkbox {
  appearance: none;

  &:checked ~ .label_checked::before {
    border-color: $label_checked--bd-active;
  }

  &:checked ~ .label_checked::after {
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(
      180deg,
      $label_checked--bd 0%,
      $label_checked--bg-stop 100%
    );
    border-image-slice: 1;
  }

  &_hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
  }
}
