.input-checkbox {
  appearance: none;

  &:focus-visible ~ label {
    outline: 1px solid $gray-50;
  }

  &:checked ~ .label_checked::before {
    border-color: $purple;
  }

  &:checked ~ .label_checked::after {
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(180deg, $dark-25 0%, $purpure-light 100%);
    border-image-slice: 1;
  }

  &_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }
}
