.icon {
  &_dark {
    display: none;
    fill: rgb(53, 53, 64);

    @media (max-width: 425px) {
      display: flex;
    }
  }

  &_light {
    fill: #fff;
  }

  &_purple {
    fill: url(#paint0_linear);
  }

  &_center {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translate(0, -50%);
    cursor: pointer;
  }
}
