@media(max-width: 425px) {
    .search__rectangle {
        width: 0;
        height: 0;
        margin: unset;
        border-radius: 50%;
        background: #fff;
        transition: .5s;
        overflow: hidden;
        padding: unset;
    }
}