mixin calendar()
  .calendar
    .calendar__container
      .swiper-container.calendar__swiper-container
        .swiper-wrapper
        +button({
          theme: "prev-arrow",
          text: "Календарь, следующий месяц",
          mod: {locale: "prev_arrow", clicked: "prev_arrow-js"},
        })
        +button({
          theme: "next-arrow",
          text: "Календарь, предыдущий месяц",
          mod: {locale: "next_arrow", clicked: "next_arrow-js"},
        })
      .calendar__response
        +button({
          text: "Очистить",
          mod: {color: "purple"},
        })
        +button({
          text: "Применить",
          mod: {color: "purple"},
        })