.product {
  &__list {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: $mainFont;
  }

  &__cards {
    padding-left: 60px;
  }

  &__list {
    display: grid;
    grid-gap: 20px 12px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    @media (min-width: 1601px) {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
  }

  &__container {
    display: flex;
    margin: 0 140px;
    padding: 30px 0 75px;

    @media (max-width: 1240px) {
      margin: 0 5vw;
    }
  }

  &__line {
    height: 1px;
    background: $dark-25;
    border: none;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
