extends ../layout/main

block variables
  - var templates = ["header", "details", "footer", "sprite"];
  - var title = 'details';
  - var navList = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"];
  - var dropList = ["Взрослые", "Дети", "Младенцы"];
  - var footerList = ["Навигация", "О нас", "Служба поддержки", "Подписка"];
  - var footerItem = [["О нас", "Новости", "Служба поддрежки", "Услуги"], ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"], ["Соглашения", "Сообщества", "Связь с нами"], "Получите специальное предложение и новости сервиса"];

block schedule
  - var color = ["lime", "purpure", "yellow", "dark"];
  - var rating = ["Великолепно", "Хорошо", "Удовлетворительно", "Разочарован"];

block input
  - var dt_timetable = ['Прибытие', 'Выезд'];
  - var dt_timetable_id = ['dt-date--arrive', 'dt-date--departure'];
  - var dt_gues = 'Гости';