extends ../layout/main

block variables
  - var title = 'Pug';
  - var navList = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"];
  - var guesList = ["Взрослые", "Дети", "Младенцы"];

block head
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

block index