extends ../layout/main

block variables
  - var templates = ["header", "product", "footer", "sprite"];
  - var title = 'product';
  - var navList = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"];
  - var dropList = ["Спальни", "Кровати", "Ванные комнаты"];
  - var footerList = ["Навигация", "О нас", "Служба поддержки", "Подписка"];
  - var footerItem = [["О нас", "Новости", "Служба поддрежки", "Услуги"], ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"], ["Соглашения", "Сообщества", "Связь с нами"], "Получите специальное предложение и новости сервиса"];

block input
  - var pr_gues = ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"];
  - var pr_availabel = [{header: "Широкий коридор", title: "Ширина коридоров в номерене менее 91 см."},{header: "Помощник для инвалидов", title: "На первом этаже вас встретит специалист и проводит до номера."}];
  - var pr_additional = ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", "Тапочки", "Телевизор"];
