@font-face {
	font-family: 'Quicksand Bold';
	src: url('/accets/fonts/quicksand-bold.eot');
	src: url('/accets/fonts/quicksand-bold.eot?#iefix') format('embedded-opentype');
  src: url('/accets/fonts/quicksand-bold.woff') format('woff');
	src: url('/accets/fonts/quicksand-bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('/accets/fonts/montserrat-bold.eot');
  src: url('/accets/fonts/montserrat-bold.eot?#iefix') format('embedded-opentype');
  src: url('/accets/fonts/montserrat-bold.woff') format('woff');
  src: url('/accets/fonts/montserrat-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('/accets/fonts/montserrat-regular.eot');
  src: url('/accets/fonts/montserrat-regular.eot?#iefix') format('embedded-opentype');
  src: url('/accets/fonts/montserrat-regular.woff') format('woff');
  src: url('/accets/fonts/montserrat-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}