@font-face {
  font-family: 'MontserratBold';
  src: url('/assets/fonts/montserratbold.woff') format('woff'),
       url('/assets/fonts/montserratbold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('/assets/fonts/montserrat-regular.woff') format('woff'),
       url('/assets/fonts/montserrat-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('/assets/fonts/opensansbold.woff') format('woff'),
    url('/assets/fonts/opensansbold.woff2') format('woff2'),
    url('/assets/fonts/opensansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}