  // Font

$mainFont: 'Montserrat';
$secondFont: 'Open Sans';

// Size
$mainFontSize: 16px;

// Local color
$x-dark: #1F2041;
$x-dark-100: $x-dark;
$x-dark-75: rgba($x-dark, .75);
$x-dark-50: rgba($x-dark, .50);
$x-dark-25: rgba($x-dark, .25);
$x-dark-10: rgba($x-dark, .1);
$x-dark-5: rgba($x-dark, .05);

$x-gray-75: rgba(31,32,65,.75);
$x-gray-50: rgba(31,32,65,.50);
$x-gray-25: rgba(31,32,65,.25);
$x-gray-10: rgba(31,32,65,.1);

$x-purple: #bc9cff;
$x-purple-10: rgba(31,32,65,.1);
$x-purpure-stop: #8BA4F9;

$x-green: #6fcf97;
$x-green-stop: #66D2EA;

$x-white: #fff;




// Global color
$offensive: $x-dark-100;

$mainTitleBlock: $x-dark-100;

$canvas--bg: $x-white;

$label_color--100: $x-dark-100;
$label_color--75: $x-dark-75;
$label_color--50: $x-dark-50;

$registration__label_text--color: $x-dark-75;

$rectangle__title--txt: $x-dark-100;
$rectangle__text-small--txt: $x-dark-50;

$rectangle__lb-regular_active--txt: $x-dark-75;
$rectangle__close--fill: $x-dark-25;
$rectangle__price--txt: $x-dark-50;

$body-text: $x-dark-75;

$navText: $x-dark-50;
$nav__modal-bd: $x-dark-10;

$authorization--txt: $x-white;
$accetes--bd: $x-dark-25;
$accetes--txt: $x-dark-25;

$button__theme_bg--txt: $x-white;
$button__theme_br--sh: $x-purple;
$button__theme_br--txt: $x-purple;
$button_color-prev--txt: $x-dark-50;
$button_color-next--txt: $x-purple;

$description__line--bd: $x-dark-25;

$input_foc_hov: $x-dark-50;
$input--txt: $x-dark-75;
$input--br: $x-dark-25;
$input__placeholder_color--75: $x-dark-75;
$input__placeholder_color--25: $x-dark-25;
$input__options--bd: $x-dark-25;
$input__mark-minus--txt: $x-dark-50;
$input__marks--bd: $x-dark-25;

$input-radio--bd: $x-purple;
$input-radio--bg: $x-purple;
$input-radio--bg-stop: $x-purpure-stop;
$input-radio_check_lb--txt: $x-dark-50;

$input-checkbox--bd-stop: $x-purpure-stop;
$input-checkbox--bd: $x-dark-25;
$input-checkbox--bd-active: $x-purple;

$input-toggle__slider--bd: $x-dark-25;
$input-toggle__slider--bg: $x-dark-25;
$input-toggle__tab_check_lb--bd: $x-purple;
$input-toggle__tab_check_lb--bg: $x-purple;
$input-toggle__tab_check_lb--shadow: $x-purpure-stop;


$calendar__container--bg: $x-white;
$calendar__container--br: $x-dark-25;
$calendar__month-title--txt: $x-dark-100;
$calendar__box--txt: $x-purple;
$calendar__day-other--txt: $x-dark-50;
$calendar__arrow-next--fill: $x-purple;
$calendar__arrow-prev--fill: $x-purple;
$calendar__day_track--bg: $x-purple-10;

$heart--bg: $x-gray-25;

$customer__box--bg: $x-purple;
$customer__box--bg-stop: $x-purpure-stop;
$customer__like-amount--txt: $x-gray-25;
$customer__like-amount--txt_hov: $x-purple;

$reviews__amount--txt: $x-gray-50;

$room__number--txt: $x-dark-100;
$room__luxury--txt: $x-purple;
$room__price--txt: $x-dark-50;
$room__about--txt: $x-dark-50;

$root__item--bg: $x-gray-25;

$pagination__link--txt: $x-dark-50;
$pagination__link_active--bg: $x-purple;
$pagination__link_active--bg-stop: $x-purpure-stop;
$pagination__link_next--bg: $x-green;
$pagination__link_next--bg-stop: $x-green-stop;

$schedule__content--txt: $x-purple;

$footer__list--txt: $x-dark-50;
$footer__list--bd: $x-dark-10;
$footer__text--txt: $x-dark-75;
$footer__line--col: $x-dark-10;
$footer__links--txt: $x-dark-50;

$line--txt: $x-gray-10;