.rectangle {
  position: relative;
  padding: 40px 30px 30px;
  background: #fff;
}

@import '__date/rectangle__date';
@import '__title/rectangle__title';
@import '__arrow-big/rectangle__arrow-big';
@import '__input-checkbox/rectangle__input-checkbox';
@import '__input-list/rectangle__input-list';
@import '__label/rectangle__label';
@import '__text-small/rectangle__text-small';
@import '__submit/rectangle__submit';
@import '__create/rectangle__create';
@import '__create-text/rectangle__create-text';
@import '__date-col/rectangle__date-col';
@import '__content/rectangle__content';
@import '__input-radio/rectangle__input-radio';
@import '__item/rectangle__item';
@import '__price/rectangle__price';
@import '__filter/rectangle__filter';
@import '__checkbox/rectangle__checkbox';

