.rectangle {
  position: relative;
  padding: 40px 30px 30px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  &__title {
    margin-bottom: 20px;
    color: $rectangle__title--txt;
    font: bold em(24) $secondFont;
    line-height: em(30, 24);
    @media (max-width: 320px) {
      padding-right: 30px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__list {
    margin-top: 16px;
  }

  &__range {
    margin-top: 20px;
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 17px;
      background: rgb(139, 164, 249);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__text-small {
    padding-top: 4px;
    color: $rectangle__text-small--txt;
    font-size: rem(12);
    line-height: 14px;
  }

  &__submit {
    position: relative;
  }

  &__price {
    position: absolute;
    top: 0;
    right: 0;
    color: $rectangle__price--txt;
    font-size: rem(12);
    line-height: rem(15, 12);
  }

  &__item-bottom {
    position: relative;
    margin-bottom: 30px;
  }

  & .input-radio:first-child {
    margin-right: 20px;
  }

  &__item-top {
    position: relative;
    margin-bottom: 20px;
  }

  &__date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__create-text {
    margin-right: auto;
    font-size: 14px;
    letter-spacing: 0.4px;
  }

  &__create {
    display: flex;
    align-items: center;
  }

  &__content {
    margin-bottom: 10px;
  }

  &__radio {
    position: relative;
    display: flex;
    margin-bottom: 23px;
  }

  &__checkbox {
    padding: 1px 0;
  }
}
