mixin logo()
  .logo
    a.logo__link(href="index.html")
      picture
        source( media="(max-width: 460px)" srcset="img/svg/sm-logo.svg 60w" sizes="60px")
        img(srcset="img/svg/logo.svg 106w", sizes="105px" alt="TOXIN главная страница")