.filter__close {
  display: none;
}
@media(max-width: 425px) {
  .filter__close {
    width: 20px;
    display: block;
    margin-left: auto;
  }
  .filter__close {
    fill: rgba(31,32,65,.25);
  }
}