.arrow {
  display: inline-block;
  cursor: pointer;
  width: 6px;
  height: 6px;
  margin-left: 10px;
  border:{
    right: 2px solid $navText;
    bottom: 2px solid $navText;;
  }
  transform: rotate(45deg);
}