:root{
  --card-nav-height: 8px;
  --card-nav-width: 8px;
}
.card__button-next {
  position: absolute;
  height: var(--card-nav-height);
  width: var(--card-nav-width);
  top: 50%;
  margin-top: calc(-1*var(--card-nav-height)/2);
  cursor: pointer;
  border: 2px solid white;
  border-left: none;
  border-top: none;
  transform: rotate(-45deg);
  z-index: 1;
  right: 18px;
}