mixin home()
  .home
    h2.home__title Ui kit
    ul.home__list
      li.home__page
        a.home__link(href="colors-type.html" target="_blank" rel="nofollow noopener") Colors & Types
      li.home__page
        a.home__link(href="cards.html" target="_blank" rel="nofollow noopener") Cards
      li.home__page
        a.home__link(href="headers-footers.html" target="_blank" rel="nofollow noopener") Headers & Footers
      li.home__page
        a.home__link(href="form-elements.html" target="_blank" rel="nofollow noopener") Form Elements

    h2 Pages
    ul.home__list
      li.home__page
        a.home__link(href="landing-page.html" target="_blank" rel="nofollow noopener") Landing page
      li.home__page
        a.home__link(href="search-room.html" target="_blank" rel="nofollow noopener") Search room
      li.home__page
        a.home__link(href="rooom-details.html" target="_blank" rel="nofollow noopener") Rooom details
      li.home__page
        a.home__link(href="reg.html" target="_blank" rel="nofollow noopener") Registration
      li.home__page
        a.home__link(href="auth.html" target="_blank" rel="nofollow noopener") Sign in