.home {
  &__title {
    margin: 10px 0;
  }

  &__list {
    list-style: none;
  }

  &__page {
    padding: 2px 0;
  }

  &__link {
    font-family: $additionalFont;
    line-height: rem(20);
    text-decoration: none;
  }
}
