mixin home()
  .home
    h2 Ui kit
    ul.home__list
      li.home__page
        a.home__details(href="colors-type.html" target="_blank" rel="nofollow noopener") Colors & Type
      li.home__page
        a.home__main(href="cards.html" target="_blank" rel="nofollow noopener") Cards
      li.home__page
        a.home__main(href="headers-footers.html" target="_blank" rel="nofollow noopener") Headers & Footers
      li.home__page
        a.home__main(href="form-elements.html" target="_blank" rel="nofollow noopener") Form Elements

    h2 Pages
    ul.home__list
      li.home__page
        a.home__main(href="landing-page.html" target="_blank" rel="nofollow noopener") Landing page
      li.home__page
        a.home__product(href="search-room.html" target="_blank" rel="nofollow noopener") Search room
      li.home__page
        a.home__details(href="rooom-details.html" target="_blank" rel="nofollow noopener") Rooom details
      li.home__page
        a.home__product(href="registration.html" target="_blank" rel="nofollow noopener") Registration
      li.home__page
        a.home__product(href="sign-in.html" target="_blank" rel="nofollow noopener") Sign in