mixin social-icon(icon)
  - const {id, width, height, viewBox, alt, href, mod} = icon;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'social-icon_' + styles[index];
  -   }
  - }

  a.social-icon(class=modClasses href=href?href:"#")
    +icon({
      id: id,
      width: width,
      height: height,
      viewBox: viewBox,
      alt: alt,
    })