mixin description()
  .description
    form(action="" name="descr")
      fieldset.description__container
        ul.description__schedule(role='none')
          li.description__item.description__item_middle_margin-bottom
            .description__room
              .description__room-container
                span.description__room-number 888
                strong.description__room-luxury люкс
              .description__room-container
                span.description__room-price 9 990₽
                span.description__room-text в сутки
          li.description__item.description__item_middle_margin-bottom
            .description__date
              -for(var i=0; i<2; ++i)
                if date != undefined
                  +input-date({
                    id: date_id[i],
                    value: date[i],
                    text: ds_label[i],
                  })
                else
                  +input-date({
                    id: date_id[i],
                    placeholder: "ДД.ММ.ГГГГ",
                    text: ds_label[i],
                  })
              - var i = null;
              +calendar()
          li.description__item.description__item_middle_margin-bottom
            .description__content
              +input-dropdown({
                id: "arrive",
                placeholder: "Сколько гостей",
                text: "Гости",
                amount: "2 1 0",
                role: "gues",
                list: guesList,
              })
          li.description__item.description__item_large_margin-bottom
            ul.description__price-list
              li.description__price-item
                span.description__text 9 990₽ x 4 суток
                span.description__text 39 960₽
              li.description__price-item
                span.description__accent Сбор за услуги: скидка 2 179₽
                span.description__text 0₽
              li.description__price-item
                span.description__accent Сбор за доп. услуги
                span.description__text 300₽
          li.description__item.description__item_middle_margin-bottom
            .description__result
              span.description__total Итого
              span.description__line
              span.description__total 38 081₽
          li.description__item
            +button({
              theme: "purple",
              text: "Забронировать",
              mod: {size: "broad"},
            })
            +icon({
              id: "arrow-big",
              width: "18",
              height: "18",
              viewBox: "0 0 17 18",
              alt: "Забронировать",
              mod: {position: "center", color: "light"},
            })