mixin input-radio(radio)
  - const {id, status, name, text, mod} = radio;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-radio_' + styles[index];
  -   }
  - }

  .input-radio
    +input-checkbox({
      type: "radio",
      id: id,
      mod: {visible: "hidden"},
      status: status,
      name: name,
    })
    label.input-radio__label(for=id)=text