//- mixin input-radio(id, labelClass, labelName, active)
mixin input-radio(radio)
  - var modClasses = '';
  - if (radio.mod) {
  -   var styles = Object.values(radio.mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-radio_' + styles[index];
  -   }
  - }

  .input-radio
    +input-checkbox({
      type: "radio",
      id: radio.id,
      mod: {visible: "hidden"},
      status: radio.status,
      name: radio.name,
    })
    label.input-radio__label(for=radio.id)=radio.text