.input-toggle {
  $input-toggle: &;
  position: relative;
  display: inline-block;

  &:focus-within {
    outline: 1px solid black;
  }

  &__text {
    padding-left: 43px;
    font-size: rem(14px);
    line-height: rem(22);
  }

  & input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 20px;
    margin: auto 0;
    border: 1px solid $dark-25;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.4s;

    &:before {
      position: absolute;
      top: 50%;
      bottom: 4px;
      left: 3px;
      width: 12px;
      height: 12px;
      background: $dark-25;
      border-radius: 50%;
      transform: translate(0px, -50%);
      transition: 0.4s;
      content: '';
    }
  }

  &__tab {
    &:focus + #{$input-toggle}__slider {
      box-shadow: 0 0 1px #2196f3;
    }

    &:checked ~ #{$input-toggle}__slider {
      border-color: $purple;

      &:before {
        background: linear-gradient($purple, $purpure-light);
        transform: translate(20px, -50%);
      }
    }
  }
}
