.input-toggle {
  $input-toggle: &;
  position: relative;
  display: inline-block;

  &:focus-within {
    outline: 1px solid black;
  }

  &__text {
    padding-left: 43px;
    font-size: rem(14px);
  }

  & input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 20px;
    margin: auto 0;
    border: 1px solid $dark-25;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.4s;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      bottom: 4px;
      left: 3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $dark-25;
      transition: 0.4s;
      transform: translate(0px, -50%);
    }
  }

  &__tab {
    &:focus + #{$input-toggle}__slider {
      box-shadow: 0 0 1px #2196f3;
    }

    &:checked + #{$input-toggle}__slider:before {
      background: $purple;
      box-shadow: inset 0px -6px 5px -2px $purpure-light;
      transform: translate(20px, -50%);
    }
  }
}
