mixin input-toggle(toggle)
  - const {status, text, id, mod} = toggle;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-toggle_' + styles[index];
  -   }
  - }

  div.input-toggle(class=modClasses)
    input.input-toggle__tab.input-toggle__tab_hidden(id=id name='' type='checkbox' checked=status?status:false)
    label.input-toggle__text(for=id)=text
