mixin input-toggle(toggle)
  - const {status, text, mod} = toggle;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-toggle_' + styles[index];
  -   }
  - }

  label.input-toggle(class=modClasses)
    input.input-toggle__tab(name='' type='checkbox' id='reg-toggle' checked=status?status:false)
    span.input-toggle__slider
    span.input-toggle__text=text