mixin input-date(date)
  - const {id, text, value, placeholder, mod} = date;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-date_' + styles[index];
  -   }
  - }

  .input-date.input-date_js(class=modClasses)
    +label({
      forId: id,
      text: text,
      mod: {font: "large"},
    })
    .input-date__field
      +input({
        id: id,
        type: "text",
        value: value,
        placeholder: placeholder,
        autocorrect: "off",
        inputmode: "numeric",
        autocomplete: "cc-exp",
        onfocus: "(this.type='date')",
        onblur: "(this.type='text')",
        maxlength: "10",
        mod: {clicked: "clicked-js", placeholderClolor: "placeholder-dark"},
      })
      +button({
        mod: {arrow: "arrow", clicked: "clicked-js"}
      })