//- mixin card(number, status, price, checked, reviews, index)
mixin card(card)
  .card
    li.card__item
      +swiper({
        mod: {init: "card-js"},
        pagination: "card__pagination",
        prev: "swiper-prev",
        next: "swiper-next",
      })
      .card__descr
        .card__content
          .card__room
            .room__container
              span.room__number=card.number
              strong.room__luxury=card.status
            .room__container
              span.room__price #{card.price} &#8381
              span.room__text в сутки
        hr.line.card__line
        .card__content
          +rating(card.starIndex, card.checked)
          span.card__value=card.reviews
          span.card__about Отзывов