:root {
  --card-bullet-width: 7.5px;
  --card-bullet-height: 7.5px;
  --min-width: 240px;
}

.card {
  &__value {
    margin-right: 4px;
    margin-left: auto;
    color: $card__value--col;
    font-weight: bold;
    font-size: rem(14);
  }

  &__pic {
    display: block;
    height: 151px;
  }

  &__pagination {
    position: absolute;
    right: 12px;
    bottom: 12px;
    z-index: 1;
    display: flex;
  }

  &__bullet {
    width: 8px;
    height: 8px;
    margin: 0 3px 2px 0;
    border: 1px solid #fff;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

    &_active {
      background-color: #fff;
    }
  }

  &__line {
    margin-top: 10px;
    margin-bottom: 9px;
  }

  &__item {
    overflow: hidden;
    min-width: 210px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__img {
    object-fit: cover;
    height: 100%;
  }

  &__descr {
    padding: 20px 18px 20px 20px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__about {
    padding-right: 2px;
    color: $card__about--col;
    font-size: rem(14);
  }
}
