extends ../../index
block variables
  - var templates = ["header", "registration", "footer", "sprite"];
  - var title = 'registration';
  - var footerList = ["Навигация", "О нас", "Служба поддержки", "Подписка"];
  - var footerItem = [["О нас", "Новости", "Служба поддрежки", "Услуги"], ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"], ["Соглашения", "Сообщества", "Связь с нами"], "Получайте специальные предложения и новости сервиса"];

block navList
  - var navList = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"];

block swiperList
  - var images = ["img/banner-1", "img/banner-2"];
  - var alt = "Номер в гостинице";