extends ../../index

block variables
  - var templates = ["header", "product", "footer", "sprite"];
  - var title = 'product';
  - var footerList = ["Навигация", "О нас", "Служба поддержки", "Подписка"];
  - var footerItem = [["О нас", "Новости", "Служба поддрежки", "Услуги"], ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"], ["Соглашения", "Сообщества", "Связь с нами"], "Получайте специальные предложения и новости сервиса"];

block navList
  - var navList = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"];

block optionsList
  - var guesList = ["Взрослые", "Дети", "Младенцы"];
  - var roomList = ["Спальни", "Кровати", "Ванные комнаты"];

block markList
  - var allowed = [{title: "Можно курить"}, {title: "Можно с питомцами"}, {title: "Можно пригласить гостей (до 10 человек)"}];
  - var availabel = [{title: "Широкий коридор", descr: "Ширина коридоров в номерене менее 91 см."},{title: "Помощник для инвалидов", descr: "На первом этаже вас встретит специалист и проводит до номера."}];
  - var additional = ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", "Тапочки", "Телевизор"];

block swiperList
  - var images = ["img/card-1", "img/card-2", "img/card-3", "img/card-4"];
  - var alt = "Номер в гостинице";

block cards
  -
    var cards = [{
      number: '666',
      price: '9 900',
      status: "Люкс",
      reviews: 143,
      checked: 3
    },{
      number: '667',
      price: '9 900',
      status: "",
      checked: 4
    },{
      number: '668',
      price: '8 500',
      status: "Люкс",
      reviews: 143,
      checked: 1
    },{
      number: '669',
      price: '7 500',
      status: "Люкс",
      reviews: 143,
      checked: 2
    },{
      number: '670',
      price: '6 000',
      status: "Люкс",
      reviews: 143,
      checked: 5
    },{
      number: '671',
      price: '5 800',
      status: "Люкс",
      reviews: 143,
      checked: 3
    },{
      number: '672',
      price: '5 500',
      status: "",
      reviews: 143,
      checked: 1
    },{
      number: '673',
      price: '5 300',
      status: "Люкс",
      reviews: 143,
      checked: 4
    },{
      number: '674',
      price: '5 300',
      status: "",
      reviews: 143,
      checked: 4
    },{
      number: '675',
      price: '5 000',
      status: "",
      reviews: 143,
      checked: 5
    },{
      number: '676',
      price: '5 000',
      status: "Люкс",
      reviews: 143,
      checked: 5
    },{
      number: '677',
      price: '5 000',
      status: "",
      reviews: 143,
      checked: 1
    }];

block socialIconList
  -
    var icons = [{
      id: "twitter",
      href: "#",
      width: "24",
      height: "21",
      viewBox: "0 0 24 21",
      alt: "Мы в twitter",
      href: "https://twitter.com/intent/tweet"
    }, {
      id: "facebook",
      href: "#",
      width: "22",
      height: "22",
      viewBox: "0 0 22 22",
      alt: "Мы в facebook",
      href: "https://ru-ru.facebook.com/"
    }, {
      id: "instagram",
      href: "#",
      width: "22",
      height: "22",
      viewBox: "0 0 22 22",
      alt: "Мы в instagram",
      href: "https://www.instagram.com/"
    }];