.root__item {
  position: relative;
  display: flex;
  align-items: baseline;
  margin-bottom: 11px;
  line-height: rem(23,16);
  font-size: rem(14);
}
.root__item:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  min-width: 10px;
  background: $root__item--bg;
  border-radius: 100%;
  margin-right: 10px;
}