.mark__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

$colors: #FFE39C #FFBA9C #6FCF97 #66D2EA #BC9CFF #8BA4F9 #919191 #3D4975;
$i: 1;

.mark__circle {
  @each $col in lime, purpure, yellow, dark {
    &.#{$col} {
      background: linear-gradient(nth($colors, $i), nth($colors, $i+1));
    }
    $i: $i + 2;
  }
}

