mixin reg()
  .reg
    img.reg__img(src="img/banner-3.jpg" alt="Регистрация аккаунта")
    .reg__cont
      form(action="" name="reg")
        fieldset
          legend.reg__title Регистрация аккаунта
          ul.reg__schedule(role='none')
            li.reg__item.reg__item_middle_margin-bottom
              .reg__content
                +input({
                  id: "reg-name",
                  placeholder: "Имя",
                  type: "text",
                  autocomplete: "name",
                  patern: "[а-яёА-ЯЁ]",
                })
                +label({
                  text: "Имя",
                  forId: "reg-name",
                  mod: {visible: "hidden"},
                })
              .reg__content
                +input({
                  id: "reg-lname",
                  placeholder: "Фамилия",
                  type: "text",
                  autocomplete: "lname",
                  patern: "[а-яёА-ЯЁ]",
                })
                +label({
                  text: "Фамилия",
                  forId: "reg-lname",
                  mod: {visible: "hidden"},
                })
              .reg__radio
                +input-radio({
                  id: "reg-man",
                  text: "Мужчина",
                  status: true,
                  name: "gender",
                })
                +input-radio({
                  id: "reg-wom",
                  text: "Женщина",
                  name: "gender",
                })
            li.reg__item.reg__item_middle_margin-bottom
              +input-date({
                id: "reg-birth",
                text: "Дата рождения",
                placeholder: "ДД.ММ.ГГГГ",
              })
            li.reg__item.reg__item_middle_margin-bottom
              .reg__content
                +input-email({
                  id: "reg-email",
                  text: "Данные для входа в сервис",
                  placeholder: "Email",
                })
              .reg__content
                +input-password({
                  id: "reg-password",
                  labelHidden: true,
                  placeholder: "Пароль",
                })
              .reg__content
                +input-toggle({
                  text: "Получать спецпредложения",
                  id: "reg-toggle"
                })
            li.reg__item.reg__item_large_margin-bottom
              .reg__submit
                +button({
                  theme: "purple",
                  text: "Зарегестрироваться",
                  mod: {weigth: "broad"},
                })
                +icon({
                  id: "arrow-big",
                  width: "18",
                  height: "18",
                  viewBox: "0 0 17 18",
                  alt: "Войти",
                  mod: {position: "center", color: "light"},
                })
            li.reg__item
              .reg__create
                p.reg__create-text Уже есть аккаунт на Toxin
                +button({
                  theme: "light",
                  text: "Войти",
                })