%font {
  color: $input__list--txt;
  font-family: $mainFont;
  font-size: em(14);
}
.input__list {
  @extend %font;
  border-radius: 4px;
  border: 1px solid $rectangle__input-list--br;
  height: 44px;
  padding: 0 32px 0 15px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.input__list::-webkit-datetime-edit {
  @extend %font;
}
.input__list::-webkit-inner-spin-button {
  display: none;
}
.input__list::-webkit-calendar-picker-indicator {
  display: none;
}
.input__list {
  appearance: none;
}

@import '_date/input__list_date';
@import '_drop/input__list_drop';
@import '_pale_col/input__list_pale_col';