%font {
  color: $input__list--txt;
  font-family: $mainFont;
  font-size: em(14);
  line-height: em(18,14);
}

.input__list {
  @extend %font;
  border:  1px solid $input__list--br;
  padding: 12px 20px 12px 15px;
  border-radius: 4px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.input__list::-webkit-datetime-edit {
  @extend %font;
  text-transform: uppercase;
}
.input__list::-webkit-datetime-edit-fields-wrapper {
  // wrapper
}
.input__list::-webkit-datetime-edit-text {
  // points
}
.input__list::-webkit-inner-spin-button {
  display: none;
}
.input__list::-webkit-calendar-picker-indicator {
  display: none;
}
.input__list {
  appearance: none;
}