@mixin petal($v) {
  @if $v == after {
    top: 0;
    left: $position;
  } @else {
    top: -$position;
    left: 0;
  }
}
$position: 2px;
$nav: top left;
$col: $heart_bg--bg;

.heart {
  position: absolute;
  left: 7px;
  width: 3px;
  height: 3px;
  transform: translateY(0.5px) rotate(-45deg);

  @each $val in after, before {
    &::#{$val} {
      content: '';
      position: absolute;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $col;
      @include petal($val);
    }
  }

  &_bg {
    z-index: 1;
    background-color: $col;
  }

  &_border {
    left: 6px;
    width: 5px;
    height: 5px;
    background-color: $heart_border--bg;
    &:after,
    &:before {
      width: 5px;
      height: 5px;
      background-color: $heart_border--bg;
    }
  }
}
