.banner__img {
  object-fit: cover;
  max-height: 702px;
}
@media (min-width: 426px) and (max-width: 768px) {
  .banner__img {
    min-height: 550px;
    object-position: 16%;
  }
}
@media(max-width: 425px) {
  .banner__img {
    min-height: 360px;
  }
}