.footer {
  background: #fff;

  &__text {
    color: $dark-75;
    font-size: rem(14px);
    font-family: $mainFont;
    line-height: rem(24px, 16px);
    text-transform: none;

    @media (max-width: 1023px) {
      margin-top: unset;
    }

    &_margin {
      margin-bottom: 20px;
    }
  }

  &__title {
    color: $dark;
    font-weight: bold;
    font-size: rem(12);
    text-transform: uppercase;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__links {
    color: $dark-50;
    font-size: rem(14px);
    font-family: $mainFont;
    line-height: rem(17px, 14px);
    text-transform: none;
  }

  &__line {
    height: 1px;
    background: $dark-10;
    border: none;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__item {
    padding-top: 20px;
  }

  &__email {
    width: 260px;
    height: 45px;
  }

  &__description {
    margin-top: 18px;

    @media (max-width: 1023px) {
      width: 50%;
      margin-top: unset;
      margin-left: 20px;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 140px;
    padding: 23px 0;

    @media (max-width: 1240px) {
      margin: 0 5vw;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__cop {
    width: 50%;
    font-size: rem(14px);
    font-family: $mainFont;
    line-height: rem(17px, 14px);

    @media (max-width: 768px) {
      width: initial;
      margin-top: 22px;
      margin-bottom: 25px;
      text-align: center;
    }
  }

  &__container {
    margin: 0 140px;
    padding: 104px 0 96px;

    @media (max-width: 1240px) {
      margin: 0 5vw;
      padding: 50px 0 50px;
    }

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  &__col {
    flex: 1 1 140px;
  }

  &__logo {
    display: flex;
    flex: 1 0 240px;
    flex-direction: column;
    padding-right: 20px;

    @media (min-width: 769px) and (max-width: 1023px) {
      flex-basis: 100%;
      flex-direction: row;
      align-items: center;
      margin-bottom: 50px;
      padding-right: unset;
    }

    &_show {
      display: none;

      @media (max-width: 768px) {
        display: block;
        flex-basis: initial;
        flex-grow: initial;
        flex-shrink: initial;
      }
    }
    &.logo {
      margin-bottom: 9px;
    }
  }

  &__social {
    display: flex;
  }

  &__check {
    grid-row: 1/2;
  }
}
