mixin footer()
  footer.footer(role="contentinfo")
    .footer__container
      ul.footer__row
        li.footer__col.footer__logo
          +logo()
          .footer__description
            p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

        each value, i in footerList
          li.footer__col
            div.footer__check
              span.footer__title=footerList[i]
            ul.footer__list
              if i == footerItem.length - 1
                li.footer__item
                  p.footer__text.footer__text_margin=footerItem[i]
                  .footer__email
                    form(action="")
                      +input-email({
                        placeholder: "Email",
                        arrow: true,
                      })
              else
                each v in footerItem[i]
                  li.footer__item
                    a.footer__links(href="/mock-address/change-me" draggable="false" rel="noopener noreferrer" target="_blank")=v

    hr.footer__line
    .footer__date
      .footer__logo.footer__logo_show
        +logo()
      p.footer__cop Copyright © 
        time(datetime='2018') 2018
        |  Toxin отель. Все права защищены.
      .footer__social
        each value in icons
          +social-icon({
            id: value.id,
            width: value.width,
            height: value.height,
            viewBox: value.viewBox,
            alt: value.alt,
            href: value.href,
            mod: {indention: "indent"},
          })