.input-radio:not(:checked) + label {
    color: $input-radio_check_lb--txt;
}
.input-radio + label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid $input-radio--bd;
    transition: all .15s;
    box-sizing: border-box;
}

.input-radio + label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.input-radio:checked+label::after {
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, $input-radio--bg 0%, $input-radio--bg-stop 100%);
    border: unset;
}