mixin uikit-additionally()
  .uikit-additionally
    .uikit-additionally__list
      .uikit-additionally__intelligence
        +intelligence({})
    .uikit-additionally__list
      .uikit-additionally__uikit-review
        +reviews({})