.label {
  position: relative;
  display: flex;
  font-family: $mainFont;
}
@import '_font--bold/label_font--bold';
@import '_font--regular/label_font--regular';
@import '_color--100/label_color--100';
@import '_color--50/label_color--50';
@import '_color--75/label_color--75';