.search {
  $search: &;

  max-width: 380px;
  margin-top: 70px;

  @media (max-width: 767px) {
    height: 374px;
    margin: 70px auto;
  }

  @media (max-width: 425px) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    margin: unset;
    background: unset;
  }

  & .input-date {
    flex-basis: 47%;
  }

  &__menu {
    position: relative;
    padding: 40px 30px 30px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

    @media (max-width: 425px) {
      overflow: hidden;
      width: 0;
      height: 0;
      margin: unset;
      padding: 0;
      border-radius: 50%;
      transition: 0.5s;
    }
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 17px;
      background: rgb(139, 164, 249);
    }
    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    margin-bottom: 20px;
    color: $search__title--txt;
    font: bold em(24) $secondFont;
    line-height: em(30, 24);
    @media (max-width: 320px) {
      padding-right: 30px;
    }
  }

  &__date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__content {
    margin-bottom: 10px;
  }

  &__item {
    position: relative;

    &_middle_margin-bottom {
      margin-bottom: 20px;
    }

    &_large_margin-bottom {
      margin-bottom: 30px;
    }
  }

  &__label {
    visibility: hidden;

    @media (max-width: 425px) {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: linear-gradient(
        180deg,
        rgb(188, 156, 255),
        rgb(139, 164, 249)
      );
      visibility: visible;
      transition: 0.5s;
      transform: scale(0.8);

      &:after {
        content: attr(data-click);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        height: 95%;
        border-radius: 50%;
        background: #fff;
        color: rgb(188, 156, 255);
        font-weight: bolder;
        font-size: rem(30);
      }
    }
  }

  & .input-checkbox {
    @media (max-width: 425px) {
      &:checked {
        & ~ #{$search}__label {
          transition: 0.5s;
          transform: scale(1);
        }

        & ~ #{$search}__label::after {
          background: transparent;
          color: #fff;
        }

        & ~ #{$search}__menu #{$search}__close {
          opacity: 1;
          transition: 2s;
        }

        & ~ #{$search}__menu {
          overflow: auto;
          width: 100%;
          height: 100%;
          padding: 20px;
          border-radius: 0;
          transition: 0.5s width 0.3s, 0.5s height 0.3s, 0.5s border-radius 0.5s,
            0.5s padding ease-out 0.6s;
        }
      }
    }
  }
}
