:root {
  --card-bullet-width: 7.5px;
  --card-bullet-height: 7.5px;
}

.card__pagination {
  position: absolute;
  z-index: 1;
  display: flex;
  bottom: 12px;
  right: 12px;
}
.card__bullet {
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  margin: 0 3px 2px 0;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
}
.card__bullet_active {
  background-color: #fff;
}