.rating {
  display: inline-flex;
  transform: scale(-1, 1);

  & > input:checked ~ label,
  &:not(:checked) > label:hover,
  &:not(:checked) > label:hover ~ label {
    background-position: 50% 0;
  }

  &__label {
    display: inline-block;
    width: 20px;
    height: 19px;
    margin: 2px;
    background: url('../../assets/img/svg/star.svg') no-repeat 50% -20px/100% auto;
    cursor: pointer;
  }
}
