.input-radio {
  $input-radio: &;

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    color: $gray-50;
    font-size: rem(14);
    cursor: pointer;
  }

  &__label::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    border: 1px solid $gray-25;
    border-radius: 50%;
    transition: all 0.15s;
    content: '';
  }

  &__label::after {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
  }

  & .input-checkbox:checked {
    & ~ #{$input-radio}__label {
      color: $gray-75;
    }

    & ~ #{$input-radio}__label::before {
      border: 1px solid $purple;
    }

    & ~ #{$input-radio}__label::after {
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, $purple 0%, $purpure-light 100%);
      border: unset;
    }
  }
}
