.rectangle__lb--bold {
  display: block;
  margin-bottom: 5.44px;
  font-size: em(12);
  text-transform: uppercase;
  font-family: $subHeaderFont;
  line-height: em(15,12);
  color: $rectangle__lb-bold--txt;
}