.input-dropdown {
  text-transform: uppercase;
  font-family: $subHeaderFont;
  line-height: em(15,12);
  display: inline-block;
  background-origin: border-box;
  color: $input-dropdown--tit;
  position: relative;
}

@import './__arrow/input-dropdown__arrow';
@import './__box/input-dropdown__box';
@import './__lb/input-dropdown__lb';
@import './__list/input-dropdown__list';
