:root {
  --card-nav-height: 8px;
  --card-nav-width: 8px;
}

.swiper-container:hover .swiper-next {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 42px;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 99.99%,
    rgba(255, 255, 255, 0) 100%
  );
  cursor: pointer;
}

.swiper-next:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  width: var(--card-nav-width);
  height: var(--card-nav-height);
  margin-top: calc(-1 * var(--card-nav-height) / 2);
  border: 2px solid white;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);
}
