@supports (--css: variables) {
  :root {
    --thumb-color-start: #6fcf97;
    --thumb-color-stop: #66d2ea;
  }
  .pail-range {
    position: absolute;
    right: calc(100% - var(--stop));
    left: var(--start);
    z-index: 1;
    height: 6px;
    background: linear-gradient(
        to bottom,
        var(--thumb-color-start),
        var(--thumb-color-stop)
      )
      no-repeat;
  }

  input[type='range'].multirange {
    display: block;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 100%;
    height: 6px;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type='range'].multirange:hover,
  input[type='range'].multirange:focus {
    border: none;
  }

  input[type='range'].multirange.original {
    position: absolute;
  }

  input[type='range'].multirange::-webkit-slider-thumb {
    --track-background: linear-gradient(
      to bottom,
      var(--thumb-color-start) 0%,
      var(--thumb-color-stop) 80%
    );
    position: relative;
    z-index: 2;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--track-background);
    box-shadow: 0 0 0 2px #fff;
    -webkit-appearance: none;
  }
  input[type='range'].multirange:focus::-webkit-slider-thumb {
    border: 1px solid rgba(31, 32, 65, 0.25);
  }
  input[type='range'].multirange.ghost::-webkit-slider-thumb {
    position: absolute;
    top: -3px;
  }

  input[type='range'].multirange::-moz-range-thumb {
    --track-background: linear-gradient(
      to bottom,
      var(--thumb-color-start) 0%,
      var(--thumb-color-stop) 80%
    );
    z-index: 2;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    background: var(--track-background);
    box-shadow: 0 0 0 2px #fff;
    transform: scale(1); /* FF doesn't apply position it seems */
  }
  input[type='range'].multirange::-moz-range-track {
    border-color: transparent; /* needed to switch FF to "styleable" control */
  }
  input[type='range'].multirange:focus::-moz-range-track {
    border: 1px solid rgba(31, 32, 65, 0.25);
  }

  input[type='range'].multirange.ghost {
    position: relative;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
  }

  input[type='range'].multirange.ghost::-webkit-slider-runnable-track {
    position: relative;
    height: 6px;
  }

  input[type='range'].multirange.ghost::-moz-range-track {
    background: var(--track-background);
  }
}
