:root {
  --min-width: 200px;
}
.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
  grid-gap: 9px 20px;
}
@media (min-width: 1600px ) {
  :root {
    --min-width: 400px;
  }
}