.registration {
  width: 380px;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  & .rectangle__item:last-child {
    padding-top: 7px;
  }

  &__label_color--50 {
    color: $registration__label_text--color;
  }

  &__item {
    margin-bottom: 10px;
  }
}
