.button {
  position: relative;
  display: inline-block;
  background-origin: border-box;
  font: bold rem(12) 'Montserrat';
  text-transform: uppercase;
  cursor: pointer;

  &_high {
    .button__text_flooded {
      height: 34px;
    }

    .button__text_boundary {
      display: flex;
      align-items: center;
      height: 30px;
    }
  }

  &__text {
    &_boundary {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      margin: 2px;
      padding: 0 17px;
      border-radius: 18px;
      background: #fff;
      color: $button__text_boundary--txt;

      &:hover ~ .button__light {
        background: linear-gradient(
          180deg,
          rgba(#bc9cff, 0.5) 0%,
          rgba(#8ba4f9, 0.5) 100%
        );
      }
    }

    &_flooded {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      padding: 0 20px;
      border-radius: 22px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      color: $button__text_flooded--txt;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__light {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }

  &_broad {
    width: 100%;
  }

  &_margin-left {
    margin-left: auto;
  }

  &_hidden {
    display: none;
  }

  &_purple {
    color: $button_purple--txt;
  }

  &_locale {
    margin-right: auto;
  }

  &_ds--hov:hover {
    color: rgba(31, 32, 65, 0.5);
  }

  &_prev_arrow {
    position: absolute;
    top: 1px;
    z-index: 1;
    cursor: pointer;
    fill: $button_prev_arrow--fill;
    transform: rotate(180deg);
  }

  &_next_arrow {
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 1;
    cursor: pointer;
    fill: $button_next_arrow--fill;
  }

  &_arrow {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    transform: translate(0, -50%);

    &::after {
      content: '\f004';
      color: $button_arrow--txt;
      font-size: 14px;
      font-family: $iconFont;
      font-family: 'fontello';
    }
  }

  &__mark {
    position: relative;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid $input__marks--bd;
    border-radius: 50%;
    color: $input__mark-minus--txt;
    font-size: em(18);
    font-family: $mainFont;
    line-height: em(22, 18);
    cursor: pointer;

    &_plus:after {
      content: '+';
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translate(0, -50%);
    }

    &_minus:after {
      content: '-';
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translate(0, -50%);
    }

    &_default {
      opacity: 0.38;
    }
  }
}
