.input-toggle {
  position: relative;
  display: inline-block;

  &__text {
    padding-left: 43px;
    font-size: rem(14px);
  }

  & input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border: 1px solid $input-toggle__slider--bd;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.4s;

    & .input-toggle__tab:checked + .input-toggle__slider {
      border: 1px solid $input-toggle__tab_check_lb--bd;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      bottom: 4px;
      left: 3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $input-toggle__slider--bg;
      transition: 0.4s;
      transform: translate(0px, -50%);
    }
  }
}

.input-toggle__tab:focus + .input-toggle__slider {
  box-shadow: 0 0 1px #2196f3;
}
.input-toggle__tab:checked + .input-toggle__slider:before {
  background: $input-toggle__tab_check_lb--bg;
  box-shadow: inset 0px -6px 5px -2px $input-toggle__tab_check_lb--shadow;
  transform: translate(20px, -50%);
}
