mixin calendar()
  .calendar
    .calendar__container
      .swiper-container.calendar__swiper-container
        .swiper-wrapper
        button.calendar__arrow-next
          +icon("arrow-big", 17, 18, "0 0 17 18", "", "Календарь, следующий месяц")
        button.calendar__arrow-prev
          +icon("arrow-big", 17, 18, "0 0 17 18", "", "Календарь, предыдущий месяц")
      .calendar__response
        +buttons(3, 'Очистить', 'button_color-prev')
        +buttons(3, 'Применить', 'button_color-next')