mixin calendar()
  .calendar
    .calendar__container
      .swiper-container.calendar__swiper-container
        .swiper-wrapper
        +button({
          theme: "arrow-prev",
          text: "Календарь, следующий месяц",
          mod: {locale: "arrow-prev", clicked: "arrow-prev-js"},
        })
        +button({
          theme: "arrow-next",
          text: "Календарь, предыдущий месяц",
          mod: {locale: "arrow-next", clicked: "arrow-next-js"},
        })
      .calendar__response
        +button({
          text: "Очистить",
          mod: {color: "purple"},
        })
        +button({
          text: "Применить",
          mod: {color: "purple"},
        })