mixin authorization()
  .authorization
    form(action="" name="aut")
      fieldset.authorization__container
        legend.authorization__title Войти
        ul.authorization__schedule(role='none')
          li.authorization__item.authorization__item_middle_margin-bottom
            .authorization__content
              +input-email({
                id: "aut-email",
                placeholder: "Email",
                arrow: false,
                mod: {placeholderColor: 'light'}
              })
              +label({
                forId: "aut-email",
                text: "Email",
                mod: {visible: "hidden"},
              })
            .authorization__content.authorization__item_large_margin-bottom
              +input-password({
                id: "aut-pass",
                placeholder: "Пароль",
              })
              +label({
                forId: "aut-pass",
                text: "Пароль",
                mod: {visible: "hidden"},
              })
          li.authorization__item.authorization__item_large_margin-bottom
            .authorization__submit
              +button({
                theme: "purple",
                text: "Войти",
                mod: {background: "with-gradient", size: "broad", hover: "active"},
              })
              +icon({
                id: "arrow-big",
                width: "18",
                height: "18",
                viewBox: "0 0 17 18",
                alt: "Войти",
                mod: {position: "center", color: "light"},
              })
          li.authorization__item
            .authorization__create
              p.authorization__create-text Нет акаунта на Toxin?
              +button({
                theme: "light",
                text: "Создать",
              })