include ../utils/mixins
block variables

doctype html
html
  block head
  title #{title}
body
  include ../includes/modules/header
  include ../includes/modules/banner


  include ../includes/modules/footer
  include ../../assets/img/svg/sprite.svg