block variables
block inputList
block intelligenceList
block reviewList
block input-checkbox
block optionsList
block cardsList
block dateList
block navList
block scheduleList
block ruleList
block canselList

include ../utils/mixins
include ../../scss/modules/card/card
include ../../scss/modules/calendar/calendar
include ../../scss/modules/button/button
include ../../scss/modules/input-toggle/input-toggle
include ../../scss/modules/input-text/input-text
include ../../scss/modules/input-radio/input-radio
include ../../scss/modules/input-date/input-date
include ../../scss/modules/input-email/input-email
include ../../scss/modules/input-password/input-password
include ../../scss/modules/input-dropdown/input-dropdown
include ../../scss/modules/input-options/input-options
include ../../scss/modules/input-list/input-list
include ../../scss/modules/input-checkbox/input-checkbox
include ../../scss/modules/rule/rule
include ../../scss/modules/intelligence/intelligence
include ../../scss/modules/reviews/reviews
include ../../scss/modules/heart/heart
include ../../scss/modules/rating/rating
include ../../scss/modules/pagination/pagination
include ../../scss/modules/nav/nav
include ../../scss/modules/schedule/schedule
include ../../scss/modules/cancel/cancel

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    if ( templates == 'home' )
      base(href="./")
    else
      base(href="../")

  title #{title}
body(id=title)
  each temp in templates
    case temp
      when "header"
        include ../../scss/modules/header/header
      when "banner"
        include ../includes/banner
      when "product"
        include ../includes/product
      when "details"
        include ../includes/details
      when "home"
        include ../includes/home
      when "footer"
        include ../../scss/modules/footer/footer
      when "authorization"
        include ../includes/authorization
      when "registration"
        include ../includes/registration
      when "cards"
        include ../includes/ui-kit/cards
      when "form"
        include ../includes/ui-kit/form
      when "elements"
        include ../includes/ui-kit/elements
      when "header-footer"
        include ../includes/ui-kit/header-footer
      when "sprite"
        include ../../assets/img/svg/sprite.svg





