include ../utils/mixins
block variables

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    if ( templates == 'home' )
      base(href="./")
    else
      base(href="../")

  title #{title}
body(id=title)
  each temp in templates
    case temp
      when "header"
        include ../includes/modules/header
      when "banner"
        include ../includes/modules/banner
      when "product"
        include ../includes/modules/product
      when "details"
        include ../includes/modules/details
      when "footer"
        include ../includes/modules/footer
      when "home"
        include ../includes/modules/home
      when "cards"
        include ../includes/modules/ul-kit/cards
      when "sprite"
        include ../../assets/img/svg/sprite.svg





