block variables
block inputList
block convenience
block review
block input-checkbox
block car
block anus

include ../utils/mixins
include ../components/card
include ../components/calendar
include ../components/buttons
include ../components/input-toggle
include ../components/input-text
include ../components/input-radio
include ../components/input-date
include ../components/input-email
include ../components/input-password
include ../components/input-dropdown
include ../components/input-options
include ../components/input-list
include ../components/input-checkbox
include ../components/rule
include ../components/intelligence
include ../components/reviews
include ../components/heart
include ../components/rating
include ../components/pagination







doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    if ( templates == 'home' )
      base(href="./")
    else
      base(href="../")

  title #{title}
body(id=title)
  each temp in templates
    case temp
      when "header"
        include ../includes/header
      when "banner"
        include ../includes/banner
      when "product"
        include ../includes/product
      when "details"
        include ../includes/details
      when "footer"
        include ../includes/footer
      when "home"
        include ../includes/home
      when "authorization"
        include ../includes/authorization
      when "registration"
        include ../includes/registration
      when "cards"
        include ../includes/ui-kit/cards
      when "form"
        include ../includes/ui-kit/form
      when "elements"
        include ../includes/ui-kit/elements
      when "sprite"
        include ../../assets/img/svg/sprite.svg





