include ../utils/mixins
block variables


doctype html
html
  block head
  title #{title}
body
  each temp in templates
    case temp
      when "header"
        include ../includes/modules/header
      when "banner"
        include ../includes/modules/banner
      when "product"
        include ../includes/modules/product
      when "footer"
        include ../includes/modules/footer
      when "sprite"
        include ../../assets/img/svg/sprite.svg





