.accent:after {
  content: 'i';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid $accetes--bd;
  border-radius: 50%;
  color: $accetes--txt;
  line-height: rem(18, 14);
  text-align: center;
}
