mixin input-options(options)
  - const {list, btnPannel} = options;
  .input-options.input-options_init-js
    each v, i in list
      .input-options__opt
        span.input-options__text=v
        .input-options__marks.input-options__marks_elem-js
          +button({
            theme: "mark-minus",
          })
          span.input-options__amount.input-options__amount-js 0
          +button({
            theme: "mark-plus",
          })
    if btnPannel
      .input-options__btns
        +button({
          text: "Очистить",
          mod: {colorText: "purple", visible: "hidden", clicked: "prev-js"}
        })
        +button({
          text: "Применить",
          mod: {colorText: "purple", position: "margin-left", clicked: "next-js"}
        })