.button__theme {
  padding: 12px 17px;
  border-radius: 18px;
}
@media(max-width: 320px) {
.button__theme {
    padding: 12px 6px;
  }
}
@import '_bg/button__theme_bg';
@import '_br/button__theme_br';