.input-list {
  $input-lsit: &;

  position: relative;

  &__title {
    margin-bottom: 5px;
    color: $dark;
    font-weight: bold;
    font-size: rem(12);
    font-family: $mainFont;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
  }

  &__options {
    display: none;
  }

  &__options {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 12px;
    background: #fff;
  }

  &_active {
    & #{$input-lsit}__options {
      display: block;
    }
    & .button_arrow::after {
      content: '\f005';
    }
  }
}
