mixin input-list(list)
  - const {id, text, mod} = list;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-list_' + styles[index];
  -   }
  - }

  .input-list.input-list_js(class=modClasses tabindex="0")
    +label({
      text: text,
      mod: {weigth: "large", clicked: "js"},
    })
    +button({
      tabindex: "-1",
      mod: {arrow: "arrow", clicked: "clicked-js", focused: "focused"}
    })
    .input-list__options
      each value, index in additional
        +input-mark({
          id: id + index,
          text: value,
        })