.input-list {
  $input-lsit: &;

  position: relative;

  &__options {
    display: none;
  }

  &__options {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 12px;
    background: #fff;
  }

  &_active {
    & #{$input-lsit}__options {
      display: block;
    }
    & .button_arrow::after {
      content: '\f005';
    }
  }
}
