@import './fonts';

@media screen and (max-width: 1240px) {
  html {
    font-size: 14px;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  color: $dark-75;
  font-size: $mainFontSize;
  font-family: $mainFont;
}

html * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

legend {
  padding: 0;
}

a {
  text-decoration: none;
}

section {
  position: relative;
  padding: 0 0; // 1
}

@for $i from 1 through 6 {
  h#{$i} {
    color: $dark;
  }
}

h1,
h2 {
  font-family: $mainFont;
}

h1 {
  font-size: em(24);
  line-height: em(30, 24);
}

h2 {
  font-size: em(19);
  line-height: em(24);
}

h3 {
  font-family: $secondFont;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: flex;
  width: 100%;
  max-width: 100%;
}

button {
  display: flex;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: unset;
}

input:focus,
input:hover {
  border: 1px solid $dark-50;
  outline: 0;
}

input[type='date'] {
  font-size: rem(14);
  text-transform: uppercase;
}

@-moz-document url-prefix() {
  @media (max-width: 320px) {
    input[type='date'] {
      font-size: rem(10);
      line-height: rem(20);
    }
  }
}

hr {
  border: none;
}

.container {
  margin: 0 140px;
}

.hidden {
  display: none;
}
