// Font
$mainFont: 'Montserrat';
$secondFont: 'Opensans', Arial, sans-serif;
$additionalFont: 'Quicksand', Arial, sans-serif;
$iconFont: 'Fontello';

// Size
$mainFontSize: 16px;

$dark: #1f2041;
$dark-75: rgba($dark, 0.75);
$dark-50: rgba($dark, 0.5);
$dark-25: rgba($dark, 0.25);
$dark-10: rgba($dark, 0.1);
$dark-5: rgba($dark, 0.05);

$gray: rgb(31, 32, 65);
$gray-75: rgba(31, 32, 65, 0.75);
$gray-50: rgba(31, 32, 65, 0.5);
$gray-25: rgba(31, 32, 65, 0.25);
$gray-10: rgba(31, 32, 65, 0.1);

$purple: #bc9cff;
$purpure-light: #8ba4f9;
$purple-10: rgba(31, 32, 65, 0.1);

$green: #6fcf97;
$green-light: #66d2ea;

$white: #fff;
$heart-border: rgb(193, 193, 193);
