.nav__item {
  margin-left: 20px;
  position: relative;
}
.nav__item:first-child {
  margin-left: initial;
}
@media(max-width: 1023px) {
  .nav__item {
    transition-duration: .25s;
    margin: 14px 0;
  }
}