//- mixin input-list(className, name, labelClass, variant, id, role)
mixin input-list(list)
  - var modClasses = '';
  - if (list.mod) {
  -   var styles = Object.values(list.mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-list_' + styles[index];
  -   }
  - }

  .input-list.input-list_js(class=modClasses)
    +label({
      text: list.text,
      mod: {weigth: "large", clicked: "js"},
    })
    +button({
      mod: {arrow: "arrow", clicked: "clicked-js"}
    })
    .input-list__options
      each value, index in additional
        +input-mark({
          id: "additional-"+index,
          text: value,
        })