.nav {
  $nav: &;

  margin-left: auto;

  @media (max-width: 1023px) {
    order: -1;
    margin: unset;
  }

  &__container {
    @media (max-width: 1023px) {
      position: absolute;
      top: 100%;
      left: -200px;
      z-index: 3;
      width: max-content;
      height: auto;
      border: 1px solid $dark-10;
      border-radius: 0 0 5px;
      background-color: #fff;
      transition-duration: 0.25s;
    }
  }

  &__list {
    display: flex;
    color: $dark-50;

    @media (max-width: 1023px) {
      flex-direction: column;
      padding: 10px 40px 10px 30px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $dark-50;
    font-size: rem(14);
    cursor: pointer;

    @media (max-width: 1023px) {
      font-size: rem(16);
    }

    & .button {
      position: static;
      padding: 0px 7px;
      cursor: pointer;
      transform: unset;

      & span {
        color: rgba(#1f2041, 0.5);
      }
    }

    &_active {
      color: $gray-75;
      font-weight: bold;
    }
  }

  &__item {
    position: relative;
    margin-right: 20px;
    @media (max-width: 1023px) {
      margin: 14px 0;
      transition-duration: 0.25s;
    }
  }

  & .input-checkbox {
    &:checked ~ #{$nav}__label > #{$nav}__hamburger {
      transform: rotate(45deg);
    }

    &:checked ~ #{$nav}__label > #{$nav}__hamburger::before {
      top: 0;
      transform: rotate(0);
    }

    &:checked ~ #{$nav}__label > #{$nav}__hamburger::after {
      top: 0;
      transform: rotate(90deg);
    }

    &:checked ~ #{$nav}__container {
      left: 0;
    }

    &__container {
      @media (max-width: 1023px) {
        visibility: hidden;
      }
    }
  }

  &__label {
    position: relative;
    display: none;
    @media (max-width: 1023px) {
      display: block;
      width: 20px;
    }
    & > .nav__hamburger,
    & > .nav__hamburger::before,
    & > .nav__hamburger::after {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background: #616161;
      transition-duration: 0.25s;
    }

    & > #{$nav}__hamburger::before {
      content: '';
      top: -8px;
    }

    & > #{$nav}__hamburger::after {
      content: '';
      top: 8px;
    }
  }
}
