mixin nav()
  .nav.nav_js
    input.input-checkbox.input-checkbox_hidden(type="checkbox" id="hamburger")
    label.nav__label(for="hamburger")
      span.nav__hamburger
    .nav__container
      ul.nav__list
        each v, i in navList
          if i == 0
            li.nav__item
              a.nav__link.nav__link_active(href="/mock-address/change-me" draggable="true" rel="noopener noreferrer" target="_blank")=v
          else if i == 1 || i == 4
            li.nav__item
              .nav__link=v
                +button({
                  mod: {arrow: "arrow"}
                })
          else
            li.nav__item
              a.nav__link(href="/mock-address/change-me" draggable="false" rel="noopener noreferrer" target="_blank")=v
