mixin auth()
  .auth
    img.auth__img(src="img/banner-3.jpg" alt="Регистрация аккаунта")
    .auth__cont
      form(action="" name="aut")
        fieldset
          legend.auth__title Войти
          ul.auth__schedule(role='none')
            li.auth__item.auth__item_middle_margin-bottom
              .auth__content
                +input-email({
                  id: "aut-email",
                  placeholder: "Email",
                  arrow: false,
                  mod: {placeholderColor: 'light'}
                })
                +label({
                  forId: "aut-email",
                  text: "Email",
                  mod: {visible: "hidden"},
                })
              .auth__content.auth__item_large_margin-bottom
                +input-password({
                  id: "aut-pass",
                  placeholder: "Пароль",
                })
                +label({
                  forId: "aut-pass",
                  text: "Пароль",
                  mod: {visible: "hidden"},
                })
            li.auth__item.auth__item_large_margin-bottom
              .auth__submit
                +button({
                  theme: "purple",
                  text: "Войти",
                  mod: {background: "with-gradient", size: "broad", hover: "active"},
                })
                +icon({
                  id: "arrow-big",
                  width: "18",
                  height: "18",
                  viewBox: "0 0 17 18",
                  alt: "Войти",
                  mod: {position: "center", color: "light"},
                })
            li.auth__item
              .auth__create
                p.auth__create-text Нет аккаунта на Toxin?
                +button({
                  theme: "light",
                  text: "Создать",
                })