extends ../../index
block variables
  - var title = 'elements';
  - var templates = ["elements", "sprite"];

block ruleList
  - var rules = ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"];

block optionsList
  - var guesList = ["Взрослые", "Дети", "Младенцы"];
  - var roomList = ["Спальни", "Кровати", "Ванные комнаты"];

block markList
  - var allowed = ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"];
  - var additional = ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"];
  - var availabel = [{header: "Широкий коридор", title: "Ширина коридоров в номере не менее 91 см."},{header: "Помощник для инвалидов", title: "На 1 этаже вас встретит специалист и проводит до номера."}];

block intelligenceList
  -
    var convenience = [{
      header: "Комфорт",
      title: "Шумопоглащающие стены",
      id: "#imoticon",
      vievBox: "0 0 40 40",
      w: "40",
      h: "40"
    }, {
      header: "Удобство",
      title: "Окно в каждой из спален",
      id: "#city",
      vievBox: "0 0 36 38",
      w: "36",
      h: "40"
    }];

block reviewList
  -
    var review = [{
      name: "Мурад Сарафанов",
      time: "5 дней назад",
      review: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
      like: 12
    }];