extends ../../index

block variables
  - var title = 'header-footer';
  - var templates = ["header-footer", "sprite"];
  - var authorization = true;
  - var footerList = ["Навигация", "О нас", "Служба поддержки", "Подписка"];
  - var footerItem = [["О нас", "Новости", "Служба поддрежки", "Услуги"], ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"], ["Соглашения", "Сообщества", "Связь с нами"], "Получайте специальное предложение и новости сервиса"];


block navList
  - var navList = ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"];


block socialIconList
  -
    var icons = [{
      id: "twitter",
      href: "#",
      width: "24",
      height: "21",
      viewBox: "0 0 24 21",
      alt: "Мы в twitter",
    }, {
      id: "facebook",
      href: "#",
      width: "22",
      height: "22",
      viewBox: "0 0 22 22",
      alt: "Мы в facebook",
    }, {
      id: "instagram",
      href: "#",
      width: "22",
      height: "22",
      viewBox: "0 0 22 22",
      alt: "Мы в instagram",
    }];

