mixin registration()
  .registration
    form(action="" name="reg")
      fieldset.registration__container
        legend.registration__title Регистрация аккаунта
        ul.registration__schedule(role='none')
          li.registration__item.registration__item_middle_margin-bottom
            .registration__content
              +input({
                id: "reg-name",
                placeholder: "Имя",
                type: "text",
                autocomplete: "name",
                patern: "[а-яёА-ЯЁ]",
              })
              +label({
                text: "Имя",
                forId: "reg-name",
                mod: {visible: "hidden"},
              })
            .registration__content
              +input({
                id: "reg-lname",
                placeholder: "Фамилия",
                type: "text",
                autocomplete: "lname",
                patern: "[а-яёА-ЯЁ]",
              })
              +label({
                text: "Фамилия",
                forId: "reg-lname",
                mod: {visible: "hidden"},
              })
            .registration__radio
              +input-radio({
                id: "reg-man",
                text: "Мужчина",
                status: true,
                name: "gender",
              })
              +input-radio({
                id: "reg-wom",
                text: "Женщина",
                name: "gender",
              })
          li.registration__item.registration__item_middle_margin-bottom
            +input-date({
              id: "reg-birth",
              placeholder: "ДД.ММ.ГГГГ",
              text: "Дата рождения",
            })
          li.registration__item.registration__item_middle_margin-bottom
            .registration__content
              +input-email({
                id: "reg-email",
                text: "Данные для входа в сервис",
                placeholder: "Email",
              })
            .registration__content
              +input-password({
                id: "reg-password",
                labelHidden: true,
                placeholder: "Пароль",
              })
            .registration__content
              +input-toggle({
                text: "Получать спецпредложения"
              })
          li.registration__item.registration__item_large_margin-bottom
            .registration__submit
              +button({
                theme: "purple",
                text: "Перейти к оплате",
                mod: {weigth: "broad"},
              })
              +icon({
                id: "arrow-big",
                width: "18",
                height: "18",
                viewBox: "0 0 17 18",
                alt: "Войти",
                mod: {position: "center", color: "light"},
              })
          li.registration__item
            .registration__create
              p.registration__create-text Уже есть акаунт на Toxin
              +button({
                theme: "light",
                text: "Войти",
              })