.home
  h2 Ui kit
  ul.home__list
    li.home__page
      a.home__details(href="cards.html" target="_blank" rel="nofollow noopener") Colors & Type
    li.home__page
      a.home__main(href="form.html" target="_blank" rel="nofollow noopener") Cards
    li.home__page
      a.home__main(href="header-footer.html" target="_blank" rel="nofollow noopener") Headers & Footers
    li.home__page
      a.home__main(href="elements.html" target="_blank" rel="nofollow noopener") Form Elements

  h2 Pages
  ul.home__list
    li.home__page
      a.home__maint(href="../landing-page.html" target="_blank" rel="nofollow noopener") Landing page
    li.home__page
      a.home__product(href="product.html" target="_blank" rel="nofollow noopener") Search room
    li.home__page
      a.home__details(href="details.html" target="_blank" rel="nofollow noopener") Rooom details
    li.home__page
      a.home__product(href="registration.html" target="_blank" rel="nofollow noopener") Registration
    li.home__page
      a.home__product(href="authorization.html" target="_blank" rel="nofollow noopener") Sign in