
block input
block cards

.product
  .product__container
    .product__filter
      +filter()
    .product__cards
      h1.product__title Номера, которые мы для вас подобрали
      ul.product__list
        each card, index in cards
          +card({
            number: card["number"],
            status: card["status"],
            price: card["price"],
            starChecked: card["checked"],
            starIndex: index,
            reviews: card["reviews"],
          })
      +pagination()






